In [3]:
x <- 7 #변수 x에 7를 대입
print(x)
# if(조건식) 문장
if(x %%2 ==0) print('짝수')
#if(조건식) 참일때 else 거짓일때
if(x %%2 ==0) print('짝수') else print('홀수')
#ifelse (조건식, 참일때, 거짓일때)
ifelse(x %% 2==0, '짝수','홀수')

[1] 7
[1] "홀수"

[1] "홀수"

In [4]:
a <- -9 #a에 -9를 대입
if(a %%2 ==0) { #여러 문장일 경우 중괄호 {}로 묶음
    print(a)
    print('짝수입니다.')
    print(abs(a)) #절대값 계산
}else{
    print(a)
    print('홀수입니다.')
    print(abs(a))
}

[1] -9
[1] "홀수입니다."
[1] 9

In [6]:
a <- -41 #a에 -9를 대입
if(a %%2 ==0) { #여러 문장일 경우 중괄호 {}로 묶음
    print(a)
    print('짝수입니다.')
    print(abs(a)) #절대값 계산
}else{
    print(a)
    print('홀수입니다.')
    print(abs(a))
}

[1] -41
[1] "홀수입니다."
[1] 41

In [9]:
point <- 95
# /실수몫, %/% 정수몫
grade <- point %/% 10 #%/%정수몫
print(grade)
#switch(조건식,조건1,조건2,.....,기타조건)
#as.character(숫자) 문자형으로 변환
switch(as.character(grade),
      '10'=print('A'),
      '9'=print('A'),
      '8'=print('B'),
      '7'=print('C'),
      '6'=print('D'),
      print('F'))

[1] 9
[1] "A"

In [10]:
seq(1,10,by=1) #1~10, 1씩 증가
seq(1,10,by=2) #1-10, 2씩 증가
seq(2,10,by=2) #2~10, 2씩 증가

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

[1]  2  4  6  8 10

In [12]:
sum1 <--0
# seq(start,end,by =step)
# for( 개별값 in 컨테이너)
for (i in  seq(1,10,by=1)) sum1 <- sum1 +i
sum1

[1] 55

In [14]:
a <- 10
#print('a='+a) #문자 + 숫자 =>에러
paste('a=',a) #past(a,b) a와 b를 연결 후 줄바꿈
cat('a=',a) #줄바꿈이 없음
cat('a=',a,'\n') #줄바꿈을 추가
print(a)

[1] "a= 10"

a= 10a= 10
[1] 10

In [15]:
dan <-3
for(i in seq(1,9)){
    cat(dan,'x',i,'=',dan*i,'\n')
    #print(paste(dan,'x',i,'=',dan*i,'\n')) #여러줄로 출력됨
}

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [19]:
# 함수이름 <-function() {함수코드}
# 함수 선언
gugu <- function(){
    dan <- readline('단을 입력하세요:') #한 라인을 키보드를 입력맏음
    print(typeof(dan))
    dan <- as.integer(dan) #문자열을 점수로 변환
    for (i in seq(1,9)){
        cat(dan,'x',i,'=',dan*i,'\n') #문자열 연결
            
        }
}
#함수호출
gugu()

단을 입력하세요:5
[1] "character"
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [21]:
for(i in seq(2,9)) {
    cat('\n=====',i,'단=====\n')
    for (j in seq(1,9)) {
        cat(i,'x',j,'=',i*j,'\n')
    }
}

===== 2 단=====
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

===== 3 단=====
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

===== 4 단=====
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

===== 5 단=====
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

===== 6 단=====
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

===== 7 단=====
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

===== 8 단=====
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

===== 9 단=====
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [22]:
sum <- 0
i<-1
while(i<= 10){#while(조건식) 조건식이 True 일동안 반복
sum <- sum + i
i <- i +1 #카운트 증가
}
sum

[1] 55

In [23]:
sum3 <-0
i<-1
repeat{ # 탈출조건을 루프 안에서 직접 작성해야 함
sum3 <- sum3 +i
i <- i +1
if(i>10) break # i의 값이 10보다 크면 반복문을 종료함
    }
sum3

[1] 55

In [24]:
sqrt(5) #제곱근
sqrt(c(1,2,3,4,5))

[1] 2.236068

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

In [27]:
a <-c(1,2,3,4,5,6,6,7,8)
summary(a) #기초 통계량
mean(a) #평균
median(a) #중앙값 (중위수)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   3.000   5.000   4.667   6.000   8.000

[1] 4.666667

[1] 5

In [28]:
#에러
function hello(){
    print('hello')
}
hello()

ERROR: Error in parse(text = x, srcfile = src): <text>:1:10: 예상하지 못한 기호(symbol)입니다.
1: function hello
             ^

In [29]:
#함수이름 <- function(){함수코드}
hello <- function(){
    print('hello')
}
hello()

[1] "hello"

In [33]:
#함수의 리턴 값
test1 <- function() {
    x<-10
    y<-20
    return(x*y) #함수를 호출한 곳으로 되돌려주는 값
}
a <- test1()
test1()

[1] 200

In [34]:
sum(c(10,20,30,40,50))

[1] 150

In [31]:
test2 <- function(x,y){ # x,y 매개변수, 인수, 파라미터
    xx<-x
    yy<-y
    return(sum(xx,yy)) # sum() 합계를 구하는 내장함수
}
test2(10,20)

[1] 30

In [32]:
#함수에서 다른 함수를 호출
test3 <- function(x,y){
    x3 <- x+1
    y3 <- y+1
    x4 <- test2(x3,y3) #다른 함수를 호출함
    return(x4)
}
test3(9,19)

[1] 30

In [35]:
test4<- function(){
    x<-10
    y<-10
    return(invisible(x*y)) #리턴값을 화면에 표시하지 않음
    #return(x*y)
}
test4() #변수에 저장하지 않은 경우 출력되지 않음
result<- test4()
result

[1] 100