In [24]:
import cx_Oracle #오라클 연동 모듈 로딩
#오라클 서버에 접속        아이디/비번@호스트:포트번호/sid
conn = cx_Oracle.connect('hr/hr@localhost:1521/xe')
#커서 오픈
cursor=conn.cursor()
#sql 명령어 작성
sql='select * from lecture_v'
#sql 명령어가 실행됨
cursor.execute(sql)
#커서를 이용하여 전체 레코드셋을 리스트로 저장
rows=cursor.fetchall()
print('학번\t학과명\t\t이름\t과목명\t\t담당교수\t학점\t등급\t평점')
print('='*80)
#평점 추가 A+부터 F까지 4.5,4.0,3.5,3.0,2.5,2.0...
for row in rows:
    print('{}\t{}\t{}\t{:10s}\t{}\t{}\t{}'.format(
        row[0],row[1],row[2],row[3],row[4],row[5],row[6]))

cursor.close()
conn.close()

학번	학과명		이름	과목명		담당교수	학점	등급	평점
================================================================================
9411	컴퓨터공학과	서진수	python    	조인형	3	A+
9411	컴퓨터공학과	서진수	데이터베이스    	박승곤	2	B+
9412	멀티미디어공학과	서재수	빅데이터      	송도권	3	C0
9413	소프트웨어공학과	이미경	python    	조인형	3	A0
9413	소프트웨어공학과	이미경	데이터베이스    	박승곤	2	F

In [111]:
import cx_Oracle #오라클 연동 모듈 로딩
#오라클 서버에 접속        아이디/비번@호스트:포트번호/sid
conn = cx_Oracle.connect('hr/hr@localhost:1521/xe')
#커서 오픈
cursor=conn.cursor()
#sql 명령어 작성
sql='select * from lecture_v'
#sql 명령어가 실행됨
cursor.execute(sql)
#커서를 이용하여 전체 레코드셋을 리스트로 저장
rows=cursor.fetchall()
print('학번\t학과명\t\t이름\t과목명\t\t담당교수\t학점\t등급\t평점')
print('='*80)
#평점 추가 A+부터 F까지 4.5,4.0,3.5,3.0,2.5,2.0...
#최종출력결과물을 d:/data/student 폴더 만들고
# d:/data/student/lecture.csv로 저장

for row in rows:
    
    if row[5] == 'A+':
        row[6]=4.5
    elif row[5] =='A0':
        row[6]=4.0
    elif row[5]== 'B+':
        row[6]=3.5
    elif row[5] =='C0':
        row[6]==2.5
    else:
        row[6]=1.0
    break
              
   
    print('{}\t{}\t{}\t{:10s}\t{}\t{}\t{}'.format(
        row[0],row[1],row[2],row[3],row[4],row[5],row[6]))

cursor.close()
conn.close()

학번	학과명		이름	과목명		담당교수	학점	등급	평점
================================================================================

TypeError: 'tuple' object does not support item assignment