In [39]:
# abs: 절대값을 출력하는 함수
print(abs(-3))
print(abs(5))

3
5

In [40]:
#사용자정의 함수
def myabs(n): #함수 선언부
    if n>0:
        return n #그대로 n을 돌려줌
    else:
        return -n #n값에 -1을 곱한 값을 돌려줌
    
print(myabs(-5))

5

In [2]:
# all() 함수, 모든 요소가 True이면 True
# True/False, 0이외의 숫자/0, ''이외의 문자/''
print(all([True,True,True]))
print(all([True,True,False]))
print(all([1,2,3]))
print(all((1,2,3,)))
print(all([1,2,3,0]))

True
False
True
True
False

In [42]:
# any() 함수, 하나 이상의 True이면 True
print(any([0,1,2]))
print(any([0,'']))

True
False

In [43]:
#dir() 함수 : 변수 또는 함수 목록
print(dir([1,2,3,]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [44]:
a=10
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [45]:
import math
print(dir(math))
a=100
print(math.sqrt(a)) #제곱근

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
10.0

In [46]:
# divmod(a,b) a를 b로 나눈 몫과 나머지
print(divmod(7,3))
print(7 / 3) #실수몫
print(7 // 3) #정수몫
print(7 % 3) #나머지

(2, 1)
2.3333333333333335
2
1

In [47]:
#def 함수이름(입력매개변수)
def mydivmod(a,b): #함수를 정의(선언)
    r1=a//b
    r2=a%b
    #리턴값은 1개만 가능함 (여기서는 튜플로 묶여서 전달함)
    return (r1,r2) #함수를 호출한 곳으로 되돌려주는 값(리턴값, 반환값)

x=mydivmod(7,3) #미리 만들어진 함수를 실행(함수 ㅗ)
print(x)

(2, 1)

In [48]:
# 집합데이터의 인덱스와 값을 되돌려주는 함수
# 인덱스,값 in enumerate(집합)

#숫자인덱스와 값이 튜플 형태로 묶임
print(list(enumerate([10,20,30,40,50])))

for i,num in enumerate([10,20,30,40,50]):
    print(i,num)

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]
0 10
1 20
2 30
3 40
4 50

In [49]:
nums=[10,20,30,40,50]
for n in nums:
    print(n)

10
20
30
40
50

In [50]:
nums = [10,20,30,40,50]

print(len(nums)) #원소 갯수

# len(nums) nums 리스트의 원소 갯수
# Range(5) 0~4
for i in range(len(nums)):
    print(i,nums[i])

5
0 10
1 20
2 30
3 40
4 50

In [51]:
print('1+2')
print('divmod(4,3)')
print(1+2)
print(divmod(4,3))

1+2
divmod(4,3)
3
(1, 1)

In [52]:
#문자열의 따옴표를 제거하고 내부의 명령을 실행하는 함수
print(eval('1+2'))
print(eval('divmod(4,3)'))

3
(1, 1)

In [53]:
# id(값) 변수 또는 상수의 주소값
a = 3
print(id(3)) # 상수 3이 저장된 위치값(주소값)
print(id(a)) #변수 a가 가리키는 위치값
b = a # a가 가리키는 주소값이 b에 복사됨
print(id(b)) # a와 b는 주소를 가리킴
print(id(mydivmod)) #함수의 시작주소값
x = [1,2,3,4,5]
print(id(x)) # 리스트의 시작주소값
print(id('hello')) #문자열의 시작주소값

140709145846224
140709145846224
140709145846224
1772391373416
1772389628296
1772385285296

In [54]:
a = int('3') #문자열을 정수로
print(a)
b=int(3.4) #실수값을 정수값으로
print(b)
#c=int('3.5d') #문자열 내부에 숫자 형태가 아닌 값이 있으면 에러
#print(c)
d=int('1111',2)#2진수 1111을 10진수로
print(d)
e=int('ff',16) #FF를 16진수로
print(e)

3
3
15
255

In [55]:
fruits = ['사과','배','수박','바나나','포도']
# '삽입할문자열'.join(리스트)
print(','.join(fruits)) #각 원소에 컴머 삽입
print('/'.join(fruits)) #각 원소에 / 삽입
print('\n'.join(fruits))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과
배
수박
바나나
포도

In [56]:
def myjoin(a,b):
    result=''
    for i in range(len(a)):
        result=result+(a[i]+b)
    return result[:len(result)-1]

fruits = ['사과','배','수박','바나나','포도']
print(myjoin(fruits,'/'))

사과/배/수박/바나나/포도

In [57]:
a=[10,20,30,40,50]
print(a[:]) #모두 다
print(a[:3]) #0,1,2
print(a[2:]) #2,3,4

[10, 20, 30, 40, 50]
[10, 20, 30]
[30, 40, 50]

In [58]:
def myjoin(a,b):
    result=''
    for i in range(len(a)):
        if i < len(a)-1:
            result=result+(a[i]+b)
        else:
            result=result+a[i]
    return result
    
fruits = ['사과','배','수박','바나나','포도']
print(myjoin(fruits,'/'))

사과/배/수박/바나나/포도

In [59]:
a = '사과/배/수박/바나나/포도'
b = a.split('/') #하나의 문자열을 구분자를 기준으로 나누어 리스트 생성
print(b)

['사과', '배', '수박', '바나나', '포도']

In [60]:
a = ['김철수','박찬수','김미영','홍미순','서영수']
b = [37,26,34,22,15]
c = list(zip(a,b))
print(c)

[('김철수', 37), ('박찬수', 26), ('김미영', 34), ('홍미순', 22), ('서영수', 15)]

In [61]:
def calc(x): # x 입력 매개 변수
    return x*2 # 결과값을 되돌려줌
x=[]
for i in range(1,5):
    x.append(calc(i))
print(x)

# map(함수, 리스트) 함수에 리스트의 각 원소를 입력한 값들
# 반복문을 사용하지 않고 함수를 여러번 호출할 수 있음
a = list(map(calc, [1,2,3,4]))
print(a)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [62]:
def plus(x):
    return x+1

x=[] #결과를 저장할 비어있는 리스트
for i in [1,2,3,4,5]:
    x.append(plus(i)) #라스트 끝에 원소가 추가됨

print(x)

# plus 함수에 1,2,3,4,5를 입력 (5회 실행됨)
# 반복문을 사용하지 않고 간단히 함수를 여러번 테스트하고 싶을 때 사용
print(list(map(plus, [1,2,3,4,5])))

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [63]:
list(map(int,['1','2','3','4','5']))

[1, 2, 3, 4, 5]

In [64]:
def get_salary(salary,bouns):
    return salary*12 + bonus

def get_tax(total):
    return total*0.05

def get_money(total,tax):
    return total-tax

name='김철수'
salary=300 #월급
bonus = 500 #보너스

total = get_salary(salary,bonus)
tax  = get_tax(total)
money = get_money(total,tax)

print("이름\t월급\t보너스\t연봉\t세액\t실수령액")
print('='*50)
print('{}\t{}\t{}\t{}\t{}\t{}'.format(name,salary,bonus,total,tax,money))

이름	월급	보너스	연봉	세액	실수령액
==================================================
김철수	300	500	4100	205.0	3895.0

In [65]:
def mysum(k,e,m):
    return k+e+m

def average(total):
    return total/3

def get_grade(grade):
    if 90<=average<=100:
        grade='A'
    elif 80<=average<90:
        grade='B'
    elif 70<=average<80:
        grade='C'
    elif 60<=average<70:
        grade='D'
    else:
        grade='F'
        
    return grade
    
name = '김철수'
k = 70
e = 80
m = 90

total = mysum (k,e,m)
average = average(total)
grade = get_grade(grade)

print("이름\t국어\t영어\t수학\t총합\t평균\t등급")
print('='*50)
print('{}\t{}\t{}\t{}\t{}\t{}\t{}'
      .format(name,k,e,m,total,average,grade))

이름	국어	영어	수학	총합	평균	등급
==================================================
김철수	70	80	90	240	80.0	B