In [11]:
#메모 저장 프로시저 호출
import cx_Oracle 

conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor()

writer='박철호'
memo='하이'
ip='192.168.0.101'
#커서.callproc('프로시저이름',[전달할값])
cursor.callproc('memo_insert',[writer,memo,ip])
#레코드가 변경될 경우 커밋을 해야함
conn.commit()
print('처리되었습니다.')
cursor.close()
conn.close()

처리되었습니다.

In [19]:
import socket
print(socket.getfqdn()) #클라이언트 컴퓨터의 이름
#socket.hethostbyname(컴퓨터이름) 컴퓨터의 ip주소
print(socket.gethostbyname(socket.getfqdn()))

DESKTOP-L6S9JEG
192.168.0.19

In [16]:
import cx_Oracle 
import socket

conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor()

writer=input('이름:')
memo=input('메모:')
ip=socket.gethostbyname(socket.getfqdn())
#커서.callproc('프로시저이름',[전달할값])
cursor.callproc('memo_insert',[writer,memo,ip])
#레코드가 변경될 경우 커밋을 해야함
conn.commit()
print('처리되었습니다.')
cursor.close()
conn.close()

이름:이민석
메모:울랄라
처리되었습니다.

In [17]:
import cx_Oracle as ora #오라클 접속 모듈
#오라클 서버에 접속 '아이디/비번@호스트:포트/sid'
conn=ora.connect('hr/hr@localhost:1521/xe')
cur=conn.cursor() #커서 생성
sql='select * from memo order by idx desc'
cur.execute(sql) #sql 명령어가 실행됨
rows=cur.fetchall() #모든 레코드를 리스트로 저장
print('번호\t이름\t메모\t날짜\t\t\tip')
print('='*55)
for row in rows:
    print('{}\t{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3],row[4]))
    
#리소스 정리    
cur.close()
conn.close()

번호	이름	메모	날짜			ip
=======================================================
6	이민석	울랄라	2019-11-26 15:55:50	192.168.0.19
5	박철호	하이	2019-11-26 15:50:40	192.168.0.101
4	김철수	메모...	2019-11-26 15:42:43	192.168.0.10
3	song	memo...	2019-11-26 14:48:01	None
2	park	memo...	2019-11-26 14:48:00	None
1	kim	memo...	2019-11-26 14:47:58	None

In [13]:
import cx_Oracle as ora #오라클 접속 모듈
#오라클 서버에 접속 '아이디/비번@호스트:포트/sid'
conn=ora.connect('hr/hr@localhost:1521/xe')
cur=conn.cursor() #커서 생성
#출력매개변수의 자료형 선언
resultset=cur.var(ora.CURSOR)
#저장프로시저를 호출하고 레코드셋을 resultset에 전달
cur.callproc('memo_list',[resultset])
#커서(resultset)이 가리키는 내용을 한행씩 리스트로 저장
rews=list(resultset.getvalue())

print('번호\t이름\t메모\t날짜\t\t\tip')
print('='*55)
for row in rows:
    print('{}\t{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3],row[4]))
    
#리소스 정리    
cur.close()
conn.close()

번호	이름	메모	날짜			ip
=======================================================
3	song	memo...	2019-11-26 14:48:01	None
2	park	memo...	2019-11-26 14:48:00	None
1	kim	memo...	2019-11-26 14:47:58	None

In [32]:
import cx_Oracle 

conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor()


empno=input('사번:')
ename=input('이름:')
sal=input('급여:')
#커서.callproc('프로시저이름',[전달할값])
cursor.callproc('emp_insert',[empno,ename,sal])
#레코드가 변경될 경우 커밋을 해야함
conn.commit()
print('처리되었습니다.')
cursor.close()
conn.close()

사번:7956
이름:박민영
급여:270
처리되었습니다.

In [33]:
import cx_Oracle as ora

conn=ora.connect('hr/hr@localhost:1521/xe')
cur=conn.cursor()
sql='select empno,ename,sal from emp3'
cur.execute(sql)
rows=cur.fetchall()
print('사번\t이름\t급여')
for row in rows:
    print('{}\t{}\t{}'.format(row[0],row[1],row[2]))
    
cur.close()
conn.close()

사번	이름	급여
7369	김철수	242.0
7499	이찬수	260.0
7521	박종수	325.0
7566	임채호	497.0
7654	나대호	325.0
7698	박지성	485.0
7782	구자철	445.0
7788	송기성	550.0
7839	김철호	800.0
7844	성명준	350.0
7876	황인태	210.0
7900	박민성	295.0
7902	박진성	600.0
7934	최철호	230.0
7131	한지원	300.0
7956	박민영	270.0

In [ ]:
import cx_Oracle as ora #오라클 접속 모듈
#오라클 서버에 접속 '아이디/비번@호스트:포트/sid'
conn=ora.connect('hr/hr@localhost:1521/xe')
cur=conn.cursor() #커서 생성
sql='select * from memo order by idx desc'
cur.execute(sql) #sql 명령어가 실행됨
rows=cur.fetchall() #모든 레코드를 리스트로 저장
print('번호\t이름\t메모\t날짜\t\t\tip')
print('='*55)
for row in rows:
    print('{}\t{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3],row[4]))
    
#리소스 정리    
cur.close()
conn.close()