In [ ]:
#mysql과 연동하기 위한 모듈 로딩
import MySQLdb

In [1]:
import csv
import MySQLdb
from datetime import datetime, date

input_file = 'd:/data/db/input.csv' #데이터 파일 경로
#mysql에 접속
conn = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers',user='web',
                      passwd='1234',charset='utf8') #한글 사용하기위해 utf8 지정

#커서 생성(레코드를 탐색하는 객체)
cursor = conn.cursor()

#suppliers 테이블의 모든 레코드를 삭제함
sql='delete from suppliers'
cursor.execute(sql)
conn.commit()

# csv 모듈 reader() 함수를 이용하여 csv 파일을 불러옴
file_reader=csv.reader(open(input_file,'r'))
#다음행으로 이동(첫행은 제목이므로 건너뜀)
header=next(file_reader)
for row in file_reader:
    #print(row)
    data=[]
    for idx in range(len(header)):
        if idx<4: #마지막 필드가 아닌 경우 : 컴머를 지우고 좌우 공백 제거
            data.append(str(row[idx]).replace(',','').strip())
        else: #마지막 필드의 경우: 날짜 처리
            a_date=datetime.date(datetime.strptime(str(row[idx]),'%Y-%m-%d'))
            a_date=a_date.strftime('%Y-%m-%d')
            data.append(a_date)
    print(data)
    #레코드가 저장됨
    cursor.execute('insert into suppliers values (%s,%s,%s,%s,%s)',data)
#커밋(변경사항을 db에 확정함)
conn.commit()

['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['A', '001-1001', '5467', '750000', '2014-01-20']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9501', '7009', '250000', '2018-01-30']
['B', '50-9505', '6650', '125000', '2017-02-03']
['B', '50-9505', '6650', '125000', '2017-02-03']
['C', '920-4803', '3321', '615000', '2017-02-03']
['C', '920-4804', '3321', '615000', '2017-02-10']
['C', '920-4805', '3321', '615000', '2017-02-17']
['C', '920-4806', '3321', '615000', '2017-02-24']

In [10]:
#mysql 테이블의 내용을 화면에 출력

#sql 명령어를 실행시킴
cursor.execute('select * from suppliers')
#모든 레코드를 읽어서 rows 튜플에 저장
rows=cursor.fetchall()
# print(type(rows),row)
for row in rows:
    output=[] #1개의 레코드를 저장하는 리스트
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print (output)

['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [11]:
#cost가 500000 이상인 레코드만 출력

cursor.execute('select * from suppliers where cost>500000')
rows=cursor.fetchall()
for row in rows:
    output=[] 
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print (output)

['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [12]:
#cost가 50만 이상인 자료를 csv 파일에 저장
output_file='d:/data/db/mysql_output.csv'
# writer(): csv파일에 저장하는 함수
# newline='' 줄바꿈을 무시함
filewriter=csv.writer(open(output_file,'w',newline=''))
header=['제조사','송장번호','부품번호','단가','날짜']
# 파일에 헤더를 기록
filewriter.writerow(header)
# sql 명령어 실행
cursor.execute('select * from suppliers where cost>500000')
#메모리에 저장된 2차원 테이블을 2차원 튜플 형식으로 읽어옴
for row in rows:
    #레코드마다 파일에 기록함
    filewriter.writerow(row)
    
print('저장되었습니다.')

저장되었습니다.

### 퀴즈

In [29]:
import csv
import MySQLdb

input_file = 'd:/data/point/point.csv'
conn = MySQLdb.connect(host='localhost',port=3306,db='my_suppliers',user='web',
                      passwd='1234',charset='utf8')
cursor = conn.cursor()

sql='delete from point'
cursor.execute(sql)
conn.commit()

file_reader=csv.reader(open(input_file,'r'))
header = next(file_reader)
for row in file_reader:
    data=[]
    for idx in range(len(header)):
        if idx<4:
            data.append(str(row[idx]).replace(',','').strip())
        else:
            break
    print(data)
    cursor.execute('insert into point (name,kor,eng,mat) values (%s,%s,%s,%s)',data)
conn.commit()

['김철수', '88', '80', '99']
['원유리', '99', '88', '100']
['한동숙', '100', '30', '70']
['전상빈', '100', '80', '70']

In [32]:
output_file = 'd:/data/point/mysql_result.csv'
filewriter=csv.writer(open(output_file,'w',newline=''))
header=['이름','국어','영어','수학','총점','평균']
filewriter.writerow(header)
cursor.execute('SELECT name,kor,eng,mat,kor+eng+mat total,round((kor+eng+mat)/3 ,1) average FROM POINT')
rows=cursor.fetchall()
for row in rows:
    filewriter.writerow(row)
print('저장되었습니다.')

저장되었습니다.