In [3]:
import cx_Oracle #오라클 접속 모듈
#오라클 서버에 접속 아이디/비번@호스트:포트번호/sid
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
#커서 오픈
cursor=conn.cursor()
#실행할 sql 명령어 작성
#sql='select * from test_view'
sql='''
select empno,ename,e.deptno,dname
from emp e, dept d
where e.deptno=d.deptno
'''
#sql 명령어가 실행됨
cursor.execute(sql)
#결과셋(레코드셋)을 리스트로 저장
rows=cursor.fetchall()
for row in rows:
    print(row)
    
#리소스 정리
cursor.close()
conn.close()

(7782, '구자철', 10, '경리팀')
(7839, '김철호', 10, '경리팀')
(7934, '최철호', 10, '경리팀')
(7566, '임채호', 20, '연구팀')
(7902, '박진성', 20, '연구팀')
(7876, '황인태', 20, '연구팀')
(7369, '김철수', 20, '연구팀')
(7788, '송기성', 20, '연구팀')
(7521, '박종수', 30, '총무팀')
(7844, '성명준', 30, '총무팀')
(7499, '이찬수', 30, '총무팀')
(7900, '박민성', 30, '총무팀')
(7698, '박지성', 30, '총무팀')
(7654, '나대호', 30, '총무팀')