In [1]:
a = 10
#a = 0
# 조건이 True =>실행, False=> 넘어감
if a>5:
    print("yes")

yes

In [ ]:
color = input('색상을 입력하세요:')
# 양자택일 if else
if color =='blue':
    print('건너가세요')
else:
    print('기다리세요')

### 아래 코드를 input 함수를 사용하는 코드로 변경

In [ ]:
num = 100
if num%2 == 0: #숫자를 2로 나눈 나머지가 0이면
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [ ]:
for i in range(1,101):
    if i%2 ==0:
        print(i,'=>','짝수')
    else:
        print(i,'=>','홀수')

In [ ]:
num = int(input("숫자:"))
if num%2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

### 위 코드가 5번 반복 실행하도록 변경

In [ ]:
for i in range(5):
    num = int(input("숫자:"))
    if num%2 == 0: #숫자를 2로 나눈 나머지가 0이면
        print("짝수입니다.")
    else:
        print("홀수입니다.")

In [7]:
#주민번호 - 나이,성별 판별
name="김철수"
a = "951231-1234567"
# a[0:2] 0,1 서브스트링을 숫자로 바꿔야 함
age=2019 - (1900+ int(a[0:2]))
if a[7]=='1' or a[7]=='3': #성별필드
    gender='남'
elif a[7]=='2' or a[7]=='4':
    gender='여'
    
print("이름:",name)
print("나이:",age)
print("성별:",gender)

이름: 김철수
나이: 29
성별: 남

In [ ]:
# 내국인
# 2000년 이전
# 1
# 2
#2000년 이후
# 3
# 4
# 외국인
# 5
# 6

In [ ]:
point=89 
#다음조건일 경우 if~ elif~ else 사용
if point<=point<=100:
    print('A')
elif 80<=point<90:
    print('B')
elif 70<=point<80:
    print('C')
elif 60<=point<70:
    print('D')
else:
    print('F')

### 퀴즈
#### name='김철수'
#### k=70 국어점수 
#### e=80 영어점수
#### m=90 수학점수
#### 총점, 평균점수, 평균점수에 따라 등급계산(A,B,C,D,F)

In [2]:
name = '김철수'
k = 70
e = 80
m = 90
total=k+e+m
average=total/3
if 90<=average<=100:
    grade='A'
elif 80<=average<90:
    grade='B'
elif 70<=average<80:
    grade='C'
elif 60<=average<70:
    grade='D'
else:
    grade='F'

print('이름:{},국어:{},영어:{},수학:{},총점:{},평균:{},등급:{}'
      .format(name,k,e,m,total,average,grade))

이름:김철수,국어:70,영어:80,수학:90,총점:240,평균:80.0,등급:B

In [3]:
#딕셔너리로 변경한 코드
a = {'name':'김철수', 'k':70,'e':80, 'm':90}

total=a['k']+a['e']+a['m']
average=total/3
if 90<=average<=100:
    grade='A'
elif 80<=average<90:
    grade='B'
elif 70<=average<80:
    grade='C'
elif 60<=average<70:
    grade='D'
else:
    grade='F'

print('이름:{},국어:{},영어:{},수학:{},총점:{},평균:{},등급:{}'
      .format(name,k,e,m,total,average,grade))

이름:김철수,국어:70,영어:80,수학:90,총점:240,평균:80.0,등급:B

In [4]:
#학생이 여러명인 경우 (딕셔너리 리스트로 처리)
a=[{'name':'김철수','k':70,'e':80,'m':90},
   {'name':'김희영','k':75,'e':85,'m':95},
   {'name':'이용수','k':82,'e':92,'m':98}]

for s in a:
    total=s['k']+s['e']+s['m']
    average=total/3
    if 90<=average<=100:
        grade='A'
    elif 80<=average<90:
        grade='B'
    elif 70<=average<80:
        grade='C'
    elif 60<=average<70:
        grade='D'
    else: #나머지 모든 
        grade='F'

    print('이름:{},국어:{},영어:{},수학:{},총점:{},평균:{:.2f},등급:{}'
          .format(s['name'],k,e,m,total,average,grade))

이름:김철수,국어:70,영어:80,수학:90,총점:240,평균:80.00,등급:B
이름:김희영,국어:70,영어:80,수학:90,총점:255,평균:85.00,등급:B
이름:이용수,국어:70,영어:80,수학:90,총점:272,평균:90.67,등급:A

In [5]:
a=[{'name':'김철수','k':70,'e':80,'m':90},
   {'name':'김희영','k':75,'e':85,'m':95},
   {'name':'이용수','k':82,'e':92,'m':98}]
# \t 탭 (t 사용 횃수가 늘어날 수록 간격이 벌어짐)
print('이름\t국어\t영어\t수학\t총점\t평균\t등급')

for s in a:
    total=s['k']+s['e']+s['m']
    average=total/3
    if 90<=average<=100:
        grade='A'
    elif 80<=average<90:
        grade='B'
    elif 70<=average<80:
        grade='C'
    elif 60<=average<70:
        grade='D'
    else: #나머지 모든 경우
        grade='F'

    print('{}\t{}\t{}\t{}\t{}\t{:.2f}\t{}'
          .format(s['name'],s['k'],s['e'],s['m'],total,average,grade))

이름	국어	영어	수학	총점	평균	등급
김철수	70	80	90	240	80.00	B
김희영	75	85	95	255	85.00	B
이용수	82	92	98	272	90.67	A

In [6]:
name='김철수'
salary=300 #월급
bonus = 500 #보너스
# 연봉=12개월 월급 + 보너스
total=salary*12 + 500
# 세액 : 연봉의 5%
tax = total*0.05
# 실수령액
money=total-tax
# \t 탭
print("이름\t월급\t보너스\t연봉\t세액\t실수령액")
print('='*50)
print('{}\t{}\t{}\t{}\t{}\t{}'.format(name,salary,bonus,total,tax,money))

이름	월급	보너스	연봉	세액	실수령액
==================================================
김철수	300	500	4100	205.0	3895.0

In [8]:
# value가 문자열이면 따옴표로 감싸고 숫자이면 따옴표를 쓰지 않음
a ={'name':'김철수','salary':250,'bonus':500}
# 딕셔너리에 새로운 key를 삽입할 수 있음
# 딕셔너리['key']        
        
a['total']= a['salary']*12 + a['bonus']

if a ['total']<2000: # 연봉 2000미만 =>1%
    a['tax']=a['total']*0.01
elif 2000<=a['total']*0.01: # 연봉 2000~3000 미만 => 3%
    a['tax']=a['total']*0.03
else: # 연봉 4000 이상 => 5%
    a['tax']=a['total']*0.05

a['tax'] = a['total']*0.05
a['money']=a['total']-a['tax']

print(a)


print("이름\t월급\t보너스\t연봉\t세액\t실수령액")
print('='*50)
print('{}\t{}\t{}\t{}\t{}\t{}'.format(a['name'],a['salary'],a['bonus'],
                                      a['total'],a['tax'],a['money']))

{'name': '김철수', 'salary': 250, 'bonus': 500, 'total': 3500, 'tax': 175.0, 'money': 3325.0}
이름	월급	보너스	연봉	세액	실수령액
==================================================
김철수	250	500	3500	175.0	3325.0

In [9]:
data=[{'name':'김철수','salary':200,'bonus':200},
   {'name':'김희영','salary':350,'bonus':400},
   {'name':'이용수','salary':600,'bonus':1000}]
#급여계산자료를 리스트에 저장
print("이름\t월급\t보너스\t연봉\t세액\t실수령액")
print('='*50)
for a in data: #딕셔너리 한개씩 꺼내서 처리
    a['total'] = a['salary']*12 + a['bonus']

    if a['total']<2000:
        a['tax']=a['total']*0.01
    elif 2000<=a['total']*0.01:
        a['tax']=a['total']*0.03
    else: 
        a['tax']=a['total']*0.05

    a['money']=a['total']-a['tax']

    print('{}\t{}\t{}\t{}\t{}\t{}'.format(a['name'],a['salary'],a['bonus'],
                                      a['total'],a['tax'],a['money']))

이름	월급	보너스	연봉	세액	실수령액
==================================================
김철수	200	200	2600	130.0	2470.0
김희영	350	400	4600	230.0	4370.0
이용수	600	1000	8200	410.0	7790.0

In [4]:
# open('파일경로','r') 읽기 전용 파일 열기
# f변수 : 파일을 참조하는 변수
f = open('d:/data/salary.csv','r')
lines=f.readlines() #모든 라인을 읽어옴
#print(lines)
#f.readline()
data=[]
for line in lines[1:]: #한 라인씩 읽음
    #print(line,end='') #줄바꿈을 사용하지 않음
    row = line.split(',') # 라인을 컴머 단위로 끊어서 리스트로 저장
    bonus = row[2].replace('\n','') #보너스 필드의 백슬래시 제거
    data.append({'name':row[0],'salary':int(row[1]),'bonus':int(bonus)})
    
print(data) #완성된 데이터 리스트   
f.close() # 파일을 다 사용한 후에는 닫아야 함

print("이름\t월급\t보너스\t연봉\t세액\t실수령액")
print('='*50)
for a in data: #딕셔너리 한개씩 꺼내서 처리
    a['total'] = a['salary']*12 + a['bonus']

    if a ['total']<2000:
        a['tax']=a['total']*0.01
    elif 2000<=a['total']*0.01:
        a['tax']=a['total']*0.03
    else: 
        a['tax']=a['total']*0.05

    a['money']=a['total']-a['tax']

    print('{}\t{}\t{}\t{}\t{}\t{}'.format(a['name'],a['salary'],a['bonus'],
                                      a['total'],a['tax'],a['money']))

[{'name': '김철수', 'salary': 250, 'bonus': 500}, {'name': '이용직', 'salary': 350, 'bonus': 600}, {'name': '박지운', 'salary': 450, 'bonus': 700}]
이름	월급	보너스	연봉	세액	실수령액
==================================================
김철수	250	500	3500	175.0	3325.0
이용직	350	600	4800	240.0	4560.0
박지운	450	700	6100	305.0	5795.0

In [10]:
f = open('d:/data/score.csv','r')
lines = f.readlines()
data = []
for line in lines[1:]:
    row = line.split(',')
    math = row[3].replace('\n','')
    data.append({'name':row[0],'korean':int(row[1]),'english':int(row[2]),'math':int(math)})
    
print(data)
f.close()

print("이름\t국어\t영어\t수학\t총합\t평균\t등급")
print('='*50)
for a in data:
    a['total'] = a['korean']+ a['english']+ a['math']
    a['average'] = a['total']/3
    if 90<=a['average']<=100:
        grade = 'A'
    elif 80<=a['average']<90:
        grade = 'B'
    elif 70<=a['average']<80:
        grade = 'C'
    elif 60<=a['average']<70:
        grade = 'D'
    else:
        grade = 'F'
        
    print('{}\t{}\t{}\t{}\t{}\t{:.2f}\t{}'.format(a['name'],a['korean'],
                                                  a['english'],a['math'],a['total'],a['average'],grade))

[{'name': '김철수', 'korean': 70, 'english': 80, 'math': 90}, {'name': '김희영', 'korean': 75, 'english': 85, 'math': 95}, {'name': '이용수', 'korean': 82, 'english': 92, 'math': 98}]
이름	국어	영어	수학	총합	평균	등급
==================================================
김철수	70	80	90	240	80.00	B
김희영	75	85	95	255	85.00	B
이용수	82	92	98	272	90.67	A