In [ ]:
import sqlite3

In [ ]:
print(sqlite3.version) #파이썬 sqlite 패키지버전
print(sqlite3.sqlite_version) #sqlite 프로그램의 버전

In [ ]:
def create_table():
    # sqlite 데이터베이스에 접속
    # db 파일이 없으면 새로 만들어짐
    conn=sqlite3.connect('d:/data/db/my_books.db')
    # 커서 생성
    cursor=conn.cursor()
    # sql 명령어 실행
    cursor.execute(''' create table if not exists books( title text, published_date text,
    publisher text, pages integer, recommend integer)''')
    #db 접속 종료
    conn.close()

create_table()

In [ ]:
#레코드 입력
def insert_books():
    #sqlite 데이터베이스 파일 열기(없으면 새로 생성됨)
    conn=sqlite3.connect('d:/data/db/my_books.db')
    #커서 생성(sql 명령어를 실행하고 실행결과셋을 탐색하는 객체)
    cursor=conn.cursor()
    #sql 명령어를 실행시킴
    cursor.execute('''insert into books values('python','2019-01-01','길벗',500,10)''')

    #insert 명령어 확정
    conn.commit()
    print('레코드가 추가되었습니다.')
    #db접속 종료
    conn.close()
insert_books()

In [ ]:
#레코드 입력
def insert_books():
    #sqlite 데이터베이스 파일 열기(없으면 새로 생성됨)
    conn=sqlite3.connect('d:/data/db/my_books.db')
    #커서 생성(sql 명령어를 실행하고 실행결과셋을 탐색하는 객체)
    cursor=conn.cursor()
    #sql 명령어를 실행시킴
  
    #완성되지 않은 sql 문장에 튜플을 이용하여 명령어를 실행시는 방식
    sql='insert into books values (?,?,?,?,?)'
    cursor.execute(sql,('python','2018-03-04','한빛',584,20))
    
    
    #insert 명령어 확정
    conn.commit()
    print('레코드가 추가되었습니다.')
    #db접속 종료
    conn.close()
insert_books()

In [ ]:
#레코드 입력
def insert_books():
    #sqlite 데이터베이스 파일 열기(없으면 새로 생성됨)
    conn=sqlite3.connect('d:/data/db/my_books.db')
    #커서 생성(sql 명령어를 실행하고 실행결과셋을 탐색하는 객체)
    cursor=conn.cursor()
    #sql 명령어를 실행시킴
    sql='insert into books values(?,?,?,?,?)' 
    
    items=[('빅데이터','2014-07-02','삼성',296,11),
          ('안드로이드','2015-07-02','영진',526,20),
          ('python','2016-07-02','에이콘',248,15)]
    cursor.executemany(sql,items) #일괄처리
    
    #insert 명령어 확정
    conn.commit()
    print('레코드가 추가되었습니다.')
    #db접속 종료
    conn.close()
insert_books()

In [ ]:
import sqlite3

def all_books():
    #sqlite 접속
    conn = sqlite3.connect('d:/data/db/my_books.db')
    #sql 실행을 위한 커서 생성
    cursor = conn.cursor()
    #sql 명령어 실행
    cursor.execute('select *from books')
    #결과셋을 리스트로 저장
    books=cursor.fetchall()
#     print(books)
    for book in books:
        print(book)
    #db접속 종료
    conn.close()

all_books()

In [ ]:
import sqlite3

def some_books(number):
    #sqlite 접속
    conn = sqlite3.connect('d:/data/db/my_books.db')
    #sql 실행을 위한 커서 생성
    cursor = conn.cursor()
    #sql 명령어 실행
    cursor.execute('select *from books')
    #결과셋을 리스트로 저장(레코드 갯수 지정)
    books=cursor.fetchmany(number)
#     print(books)
    for book in books:
        print(book)
    #db접속 종료
    conn.close()

some_books(3)

In [ ]:
import sqlite3

def one_book():
    #sqlite 접속
    conn = sqlite3.connect('d:/data/db/my_books.db')
    #sql 실행을 위한 커서 생성
    cursor = conn.cursor()
    #sql 명령어 실행
    cursor.execute("select *from books where title='python'")
    #결과셋을 리스트로 저장(레코드 갯수 지정)
    book=cursor.fetchone()
#     print(books)
    print(book)
    #db접속 종료
    conn.close()

one_book()

In [ ]:
def update_books():
    conn = sqlite3.connect('d:/data/db/my_books.db')
    cursor=conn.cursor()
    #완성되지 않은 sql 명령어, ? 자리에 값이 입력됨
    sql='update books set recommend=? where title=?'
    #?의 갯수와 자료형에 맞게 입력
    cursor.execute(sql,(100,'python'))
    #update 명령어가 확정됨
    conn.commit()
    conn.close()

update_books()
one_book()

In [ ]:
import sqlite3

def delete_books():
    #sqlite db에 접속
    conn = sqlite3.connect('d:/data/db/my_books.db')
    #sql을 실행시키는 커서 객체 생성
    cursor=conn.cursor()
    #sql 명령어 작성
    sql="delete from books where publisher='삼성'"
    #sql 명령어 실행
    cursor.execute(sql)
    #delete 명령어 확정
    conn.commit()
    #db 접속 해제
    conn.close()
    
delete_books()
all_books()

In [ ]:
import sqlite3

#파일에 저장하지 않고 메모리에만 저장하는 db (in-memory db)
# conn = sqlite3.connect(':memory:')
conn = sqlite3.connect('d:/data/db/sales.db') #파일에 저장
sql='''
create table if not exists sales(
    customer varchar(20),
    product varchar(50),
    price float,
    date date
)
'''

conn.execute(sql)
print('테이블이 생성되었습니다.')

#레코드 추가
data=[('김철수','배',10000,'2018-01-02'),
     ('김현수','포도',15000,'2018-02-03'),
     ('한민호','자두',30000,'2018-02-20')]
sql='insert into sales values (?,?,?,?)'
conn.executemany(sql,data)
conn.commit()
print('레코드가 추가되었습니다.')
conn.close()

In [ ]:
import sqlite3

#db 커넥션 생성
conn = sqlite3.connect('d:/data/db/sales.db')
#커서 생성(sql명령어 실행+결과셋탐색)
cursor=conn.cursor()

sql='select * from sales'
#sql 명령어 실행
cursor.execute(sql)
#결과셋을 리스트로 저장
rows=cursor.fetchall()
count=0
for row in rows:
    print(row)
    count += 1
    
print('row:{}'.format(count))
#커서가 점유하고 있는 자원을 반납
cursor.close()
#db커넥션 닫기
conn.close()

In [ ]:
import csv
import sqlite3
input_file = 'd:/data/db/input.csv'
#sqlite db open or create
conn=sqlite3.connect('d:/data/db/suppliers.db')
#커서 생성
cursor=conn.cursor()
#sql 명령어 작성
sql='''
create table if not exists suppliers(
dupplier_name varchar(20),
invoice_number varchar(20),
part_number varchar(20),
cost float,
purchase_date date
)
'''
#sql 명령어 실행
cursor.execute(sql)
print('테이블이 생성되었습니다.')
#리소스 정리
cursor.close()
conn.close()

In [ ]:
import csv
import sqlite3

input_file='d:/data/db/input.csv'
conn=sqlite3.connect('d:/data/db/suppliers.db')
cursor=conn.cursor()
#csv 파일 리더 객체

file_reader=csv.reader(open(input_file))
#첫행은 필드명이므로 건너뜀
header=next(file_reader)
#2행부터 끝까지 반복 처리
for row in file_reader:
    data=[] #1개의 행을 저장할 리스트
    for idx in range(len(header)):
        data.append(row[idx]) #리스트에 필드값들이 추가됨
    #1개의 레코드를 저장
    cursor.execute('insert into suppliers values(?,?,?,?,?)',data)
#insert 명령어 확정
conn.commit()
print('csv 자료 import 완료...')
#리소스 정리
cursor.close()
conn.close()

In [ ]:
import sqlite3

conn=sqlite3.connect('d:/data/db/suppliers.db')
cursor=conn.cursor()
#커서로 sql 명령어를 실행하고 결과셋의 시작번지값을 rs에 전달
rs=cursor.execute('select * from suppliers')
#rs가 가리키는 메모리의 전체 내용을 저장
rows=rs.fetchall()
for row in rows:
    output=[]
    for idx in range(len(row)):
        output.append(row[idx])
    print(output)
    
cursor.close()
conn.close()

# 퀴즈
 ### 1.d:/data/emp/emp.csv 
 ### mysql로 import
 ### 데이터베이스: web
 ### 테이블 이름: emp
 ### 2. emp 테이블을 읽어서 화면에 출력

In [5]:
import csv
import MySQLdb
from datetime import datetime, date

input_file = 'd:/data/emp/uemp.csv'
conn = MySQLdb.connect(host='localhost', port=3306, db='web',user='web',passwd='1234',
                      charset='utf8')
cursor = conn.cursor()
sql='''
create table if not exists emp(
empno varchar(20),
ename varchar(20),
job varchar(20),
mgr varchar(20),
hiredate date,
sal float,
comm float,
deptno varchar(20)
)'''
cursor.execute(sql)
print('테이블이 생성되었습니다.')
cursor.close()
conn.close()

테이블이 생성되었습니다.

In [6]:
import csv
import MySQLdb

input_file='d:/data/emp/uemp.csv'
conn = MySQLdb.connect(host='localhost',port=3306,db='web',user='web',passwd='1234',
                      charset='utf8')
cursor = conn.cursor()

file_reader=csv.reader(open(input_file,'r'))
header = next(file_reader)
for row in file_reader:
    data=[]
    for idx in range(len(header)):
        if idx<8:
            data.append(str(row[idx]).replace(',','').strip())
        else:
            break
    print(data)
    cursor.execute('insert into emp values(%s,%s,%s,%s,%s,%s,%s,%s)',data)
conn.commit()

['7369', '김철수', '사원', '7902', '2000-12-17', '200', '0', '20']
['7499', '이찬수', '주임', '7698', '2001-02-20', '260', '300', '30']
['7521', '박종수', '주임', '7698', '2002-02-22', '325', '500', '30']
['7566', '임채호', '과장', '7839', '2001-04-02', '497', '0', '20']
['7654', '나대호', '주임', '7698', '2001-09-28', '325', '1400', '30']
['7698', '박지성', '과장', '7839', '2001-05-01', '485', '0', '30']
['7782', '구자철', '과장', '7839', '2001-06-09', '445', '0', '10']
['7788', '송기성', '부장', '7566', '1997-04-17', '500', '0', '20']
['7839', '김철호', '대표', '0', '2001-11-17', '800', '0', '10']
['7844', '성명준', '주임', '7698', '2001-09-08', '350', '0', '30']
['7876', '황인태', '사원', '7788', '2007-05-23', '210', '0', '20']
['7900', '박민성', '사원', '7698', '2001-12-03', '295', '0', '30']
['7902', '박진성', '부장', '7566', '2001-12-03', '600', '0', '20']
['7934', '최철호', '사원', '7782', '2012-01-23', '230', '0', '10']

In [7]:
cursor.execute('select * from emp')
rows = cursor.fetchall()
for row in rows:
    output=[]
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['7369', '김철수', '사원', '7902', '2000-12-17', '200.0', '0.0', '20']
['7499', '이찬수', '주임', '7698', '2001-02-20', '260.0', '300.0', '30']
['7521', '박종수', '주임', '7698', '2002-02-22', '325.0', '500.0', '30']
['7566', '임채호', '과장', '7839', '2001-04-02', '497.0', '0.0', '20']
['7654', '나대호', '주임', '7698', '2001-09-28', '325.0', '1400.0', '30']
['7698', '박지성', '과장', '7839', '2001-05-01', '485.0', '0.0', '30']
['7782', '구자철', '과장', '7839', '2001-06-09', '445.0', '0.0', '10']
['7788', '송기성', '부장', '7566', '1997-04-17', '500.0', '0.0', '20']
['7839', '김철호', '대표', '0', '2001-11-17', '800.0', '0.0', '10']
['7844', '성명준', '주임', '7698', '2001-09-08', '350.0', '0.0', '30']
['7876', '황인태', '사원', '7788', '2007-05-23', '210.0', '0.0', '20']
['7900', '박민성', '사원', '7698', '2001-12-03', '295.0', '0.0', '30']
['7902', '박진성', '부장', '7566', '2001-12-03', '600.0', '0.0', '20']
['7934', '최철호', '사원', '7782', '2012-01-23', '230.0', '0.0', '10']