In [ ]:
print(ord('A'))
print(ord('1'))
print(ord(' '))

In [ ]:
c = 'kim'
print(c)
#print(ord(c)) #문자코드는 한글자씩 출력해야 함

b = 'hello python'
for i in b:
    print('{}==>{}'.format(i,ord(i)))

In [ ]:
a = max([1,2,3]) # 가장 큰 값
print(a)
b = max('python') # 문자코드가 가장 큰 값
print(b)

In [ ]:
a = min([1,2,3]) # 가장 작은 값
print(a)
b = min('python') # 문자코드가 가장 작은 값
print(b)

In [ ]:
a = pow(2,4) #2의 4승, 2x2x2x2
print(a)
b = pow(3,3) #3의 3승, 3x3x3
print(b)

In [ ]:
def mypow(a,b):
    result=1
    for i in range(1,b+1):
        result = result * a
    return result

print(mypow(2,4))
print(mypow(3,3))
print(mypow(10,4))

In [ ]:
def mypow(a,b):
    result=1
    for i in range(b):
        result = result * a
    return result

print(mypow(2,4))
print(mypow(3,3))
print(mypow(10,4))

In [ ]:
a = 2**4
print(a)
b = 3**3
print(b)

In [ ]:
a = list(range(5)) # 0~4
print(a)
b = list(range(5,10)) # 5~9
print(b)
c = list(range(1,10,20)) # start,end-1,step
print(c)
d = list(range(0,-10,-1))
print(d)

In [ ]:
# sorted 정렬한 후 결과값을 좌변의 변수에 전달
a = sorted([3,1,2])
print(a)
b = sorted(['a','c','b']) #알파벳순으로 정렬
print(b)
c = sorted('zero')
print(c)

In [ ]:
items = [3,1,2]
items.sort()
print(items)
a = items.sort() #sort()함수는 리턴값이 없음
print(a) #리턴값이 없으므로 None이 출력됨

In [ ]:
a = [5,4,3,2,1]
b = sorted(a) #정렬된 결과값은 b에 전달됨
print(a) #원본은 정렬되지 않음
print(b)

In [ ]:
a = [5,4,3,2,1,]
a.sort()
print(a) #원본 리스트가 정렬됨

In [ ]:
#리턴값(반환값)이 없는 함수
def myfunc(): #함수 선언(정의)
    print('hello')

a = myfunc() #함수 호출
print(a)

In [ ]:
def mysum(a,b):
    return a+b #리턴값이 있는 함수

a = mysum(10,20)
print(a)

In [ ]:
a = '사과,포도,배,복숭아,자두'
fruits = a.split(',') # 하나의 문자열을 컴머 단위로 나누어 리스트로 저장
print(fruits)
b = ','.join(fruits) #리스트를 합쳐서 하나의 문자열로 만드는 함수
print(b)

In [ ]:
a = '      hi      '
print(a)
b=a.strip() #좌우 공백 제거
print(b)
c=a.lstrip() #좌측 공백 제거
print(c)
d=a.rstrip() #우측 공백 제거
print(d)

In [ ]:
# \n 개행문자,줄바꿈      \t 탭
a = '\n\t      hi  \t\n\t    '
print(a)
b=a.strip() #좌우 공백 제거
print(b)
c=a.lstrip() #좌측 공백 제거
print(c)
d=a.rstrip() #우측 공백 제거
print(d)

In [ ]:
name = ['김철수','홍철수','박민영']
age = [20,25,30]
height = [170.5, 180.5, 175.5]
blood = ['A','B','O']
# 같은 인덱스끼리 결합하여 리스트를 생성함
a = list(zip(name,age,height,blood))
print(a)

In [ ]:
a = []
for i in range(3):
    a.append((name[i],age[i],height[i],blood[i]))
    
print(a)

In [ ]:
#입력값도 없고 리턴값도 없는 함수
def say(): #함수 정의
    print('Hi')
say() #함수 호출

In [ ]:
def hello(name): #입력매개변수에 값이 전달됨
    print('Hello,',name)
    
hello('kim')
a = hello('park') #리턴값이 없으므로 None이 출력됨
print(a)

hello()

In [ ]:
# name=None 기본값을 None으로 선정
def hello2(name=None): #입력매개변수에 값이 전달됨
    if name==None: #전달된 값이 없으면
        print('이름을 입력하세요') #메시지를 출력하고
        return #종료(리턴값이 없으면 함수가 종료됨)
    #전달된 값이 있으면 정상적으로 실행됨
    print('Hello,',name)
    
hello2()
hello2('kim')

In [ ]:
#입력값은 없지만 리턴값이 있는 함수
def hello():
    return '안녕'

a = hello()
print(a)

In [ ]:
#입력값은 있고 리턴값이 없는 함수
def mysum(a,b): #입력매개변수 (parameter,argument)
    print('%d + %d = %d' % (a,b,a+b))
    
mysum(3,4) # 3이 a에, 4가 b에 전달됨

In [ ]:
#입력값과 리턴값이 있는 함수
def mysum(a,b):
    return a+b # 삼수를 호출한 곳으로 값을 되돌려 줌

a = 3
b = 4
c = mysum(a,b)
print(c)

In [ ]:
# 내장함수 sum(리스트) 리스트의 모든 원소의 합계
print(sum([10,20,30,40,50]))

In [ ]:
def mysum(a,b):
    return a+b

def mysum2(a,b,c):
    return a+b+c

def mysum3(a,b,c,d):
    return a+b+c+d

print(mysum(10,20))
print(mysum2(10,20,30))
print(mysum3(10,20,30,40))

In [ ]:
def mysum(*args):
    print(args)
    result = 0
    for i in args:
        result = result + i
    return result

result = mysum(1,2,3)
print(result)
result = mysum(1,2,3,4,5,6,7,8,9,10)
print(result)

In [ ]:
#가변사이즈 매개변수
#*변수 => 전달된 값들을 튜플로 저장함
def mysum(*args):
    print(*args)
    result = 0
    for i in args:
        result = result + i
    return result

print(mysum(10,20))
print(mysum(10,20,30))
print(mysum(10,20,30,40))
print(mysum(10,20,30,40,50))

In [ ]:
print('1','2')
print('1','2','3')
print('1','2','3','4')

In [ ]:
print('{}'.format(10))
print('{} {}'.format(10,20))
print('{} {} {}'.format(10,30,20))

In [ ]:
a = ['a','b','c','d','e']
b = ','.join(a)
print(b)

In [ ]:
def myjoin(a,*values):
    result=''
    for value in values:
        result=result+value+a
    return result[:-1]

print(myjoin(',','a'))
print(myjoin(',','a','b',))
print(myjoin(',','a','b','c'))
print(myjoin(',','a','b','c','d'))
print(myjoin(',','a','b','c','d','e'))

In [ ]:
# *변수 : 가변사이즈 매개변수(매개변수의 갯수에 관계없이 처리 가능)
# end='' 줄바꿈 문자를 사용하지 않음
def order(size, *toppings):
    print('\n'+size+' 피자를 주문하였습니다.\n토핑:',end='')
    print(type(toppings))
    for topping in toppings:
        print(topping+',',end='')

order('large','더블크러스트')
order('medium','파인애플','버섯')
order('mudium','파인애플','버섯','토마토')

In [ ]:
def mya():
    return 1 #리턴값은 1개

a=mya()
print(a)

In [ ]:
def mya():
    return 1,2

a=mya()
print(a)

(v1,v2)=mya()
print(v1,v2)

In [ ]:
a = 1
b = 2
c = a,b #()있다고 생각하면 됨
print(c)

In [ ]:
(a,b)=2,3
print(a,b)

In [ ]:
print(divmod(7,3))

In [ ]:
# 리턴값은 1개가 전달됨
# 컴머로 구분한 경우 튜플로 묶여서 1개가 전달됨
def mydivmod(a,b):
    return a//b, a%b

print(mydivmod(7,3))
v1,v2 = mydivmod(7,3)
print('몫:{}, 나머지:{}'.format(v1,v2))

In [11]:
a = [{'product':'냉장고','price':500000,'amount':10},
    {'product':'TV','price':300000,'amount':50},
    {'product':'세탁기','price':400000,'amount':20}]

# 판매금액 : price x amount
# 포인트 :  판매금액이 1000만원 미만 => 판매금액의 1%
#           판매금액이 1000만원~2000만원 미만=> 판매금액의 3%
#           판매금액이 2000만원 이상 => 판매금액의 5%

print('제품명\t단가\t수량\t금액\t포인트')

for item in a:
    item['money']=item['price']*item['amount']
    
    print('{}\t{}\t{}\t{}\t{}'.format(item['product'],item['price'],item['amount'],item['money'],'point'))

제품명	단가	수량	금액	포인트
냉장고	500000	10	5000000	point
TV	300000	50	15000000	point
세탁기	400000	20	8000000	point

In [ ]:
#리턴값이 2개 이상인 경우 튜플로 묶어서 1개가 전달됨
def sum_and_mul(a,b):
    return a+b, a*b
result=sum_and_mul(2,3)
print(result)

In [ ]:
# return 문장은 한번만 실행됨
def sum_and_mul(a,b):
    return a+b
    return a*b
result=sum_and_mul(2,3)
print(result)

In [ ]:
# 디폴트 매개변수
def say(name='무명',age='0'):
    print('이름:',name,end='')
    print(',나이:',age)
    
say('kim',20)
say('kim') #두번째 값은 기본값으로 처리됨
say(20)
say()

In [ ]:
#디폴트 매개변수(오른쪽부터 작성)
def say(name='무명',age=0):
    print('이름:',name,end='')
    print(',나이:',age)
    
say('kim',20)
say('kim')
say(20)
say()

In [ ]:
# 디폴트 매개변수
def say(name='무명',age):
    print('이름:',name,end='')
    print(',나이:',age)
    
say('kim',20)
say('kim') #두번째 값은 기본값으로 처리됨
say(20)
say()

### 시험문제

In [19]:
orders=[{'name':'java','price':50000,'amount':1000}, {'name':'c','price':45000,'amount':3000}, {'name':'python','price':35000,'amount':5000}]

print('도서명\t단가\t수량\t금액\t인세')
print('='*50)

for a in orders:
    a['money']=a['price']*a['amount']
    
    if 1<a['amount']<=1000:
        a['royalty']=a['money']*0.03
    
    elif 1001<a['amount']<=3000:
        a['royalty']=a['money']*0.05
    
    else:
        a['royalty']=a['money']*0.1

        
    print('{}\t{}\t{}\t{}\t{}'.format(a['name'],a['price'],a['amount'],a['money'],a['royalty']))

도서명	단가	수량	금액	인세
==================================================
java	50000	1000	50000000	1500000.0
c	45000	3000	135000000	6750000.0
python	35000	5000	175000000	17500000.0

In [21]:
a = 1 #전역변수(프로그램 전체에서 사용하는 변수)

def test(a): #지역변수(함수 안에서만 사용하는 변수)
    a=a+1
    
test(a)
print(a)

1

In [23]:
# 변수 a는 test2() 함수 내부에서만 사용이 가능한 지역변수(로컬변수)
# 함수의 실행이 끝나면 함수 안에서 사용한 변수도 메모리에서 삭제됨
def test2(a): 
    
    a=a+10
    print(a)

test2(10)
print(a)

20
2

In [22]:
a = 1
def test():
    global a #전역변수 a를 사용하겠다.
    a=a+1
    
test()
print(a)

2

In [30]:
#리턴값이 딕셔너리인 함수
def set_person(name,job,age=''):
    person={'name':name,'job':job}
    if age: # age가 반문자열이나 0이 아니면 True
        person['age']=age
    return person

writer = set_person('김철수','작가',27)
print(writer)
writer = set_person('김철수','작가')
print(writer)

{'name': '김철수', 'job': '작가', 'age': 27}
{'name': '김철수', 'job': '작가'}

In [28]:
def greet(names): #함수의 매개변수에 리스트가 전달됨
    for name in names:
        msg=name+'님 환영합니다.'
        print(msg)
        
names=['김철호','나대호','송민수']
greet(names)

김철호님 환영합니다.
나대호님 환영합니다.
송민수님 환영합니다.

In [32]:
jumin='95121111124567'

#주민등록번호를 입력받아서 나이와 성별을 리턴하는 함수

def myinfo(j):
    age=2019-(1900+int(j[0:2])) #0,1
    if j[6]=='1': #인덱스 6번
        gender='male'
    elif j[6]=='2':
        gender='female'
    return age,gender #리턴값은 1개이므로 튜프롤 묶어서 보냄

age,gender=myinfo(jumin)
print('나이:{}, 성별:{}'.format(age,gender))

나이:24, 성별:male

In [5]:
#리스트를 전달받아 출력할 수 있도록 함수 수정
jumins=['900130154479','9521312589764','8812112154789']

def myinfo(a):
    for i in a:
        age=2019-(1900+int(a[0:2])) #0,1
        if a[6]=='1': #인덱스 6번
            gender='male'
        elif a[6]=='2':
            gender='female'
        print('나이:{},성별:{}'.format(age,gender))
    
myinfo(jumins)   #함수 호출

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [40]:
#입력값 : 반지름
#출력값 : 원의 둘레와 넓이
import math

def mycircle(r):
    a=2*math.pi*r
    b=math.pi*r*r
    return a,b

a,b=mycircle(10)
print('둘레:{:.2f}, 넓이:{:.2f}'.format(a,b))

둘레:62.83, 넓이:314.16

In [45]:
# 1~n까지의 합계를 구하여 리턴하는 함수
def mysum(n):
    result=0
    for i in range(1,n+1):
        result += i
    return result
    
print(mysum(100))
print(mysum(10))

5050
55

In [50]:
def zodiac(y):
    animals=['원숭이','닭','개','돼지','쥐','소','범','토끼','용','뱀','말','양']
    return animals[y%12]

y=1996
a=zodiac(y)
print('{}년생은 {}띠입니다.'.format(y,a))

1996년생은 쥐띠입니다.

In [48]:
def zodiac(y):
    if y %12==0:
        result='원숭이'
    if y %12==1:
        result='닭'
    if y %12==2:
        result='개'
    if y %12==3:
        result='돼지'
    if y %12==4:
        result='쥐'
    if y %12==5:
        result='소'
    if y %12==6:
        result='범'
    if y %12==7:
        result='토끼'
    if y %12==8:
        result='용'
    if y %12==9:
        result='뱀'
    if y %12==10:
        result='말'
    if y %12==11:
        result='양'
    return result

y=1996
a=zodiac(y)
print('{}년생은 {}띠입니다.'.format(y,a))

1996년생은 쥐띠입니다.

### 택시요금 계산
#운행거리 2km까지는 기본요금 3000원
#운행거리가 2km초과하면 140m마다 150원씩 계산

In [62]:
import math
# math.ceil 올림함수

def taxi(km):
    fee=0
    m=km*1000 #미터로 변환
    if m<=2000: #기본요금 적용옵션
        fee=3000
    else:
        fee=3000+math.ceil((m-2000)/140)*150
    return fee

km=float(input('운행거리를 입력하세요:'))
print(taxi(km))

운행거리를 입력하세요:2
3000

In [66]:
# 입력값 :  이름, 나이, 신장, 체중
# 계산값 : 체질량지수 (kg/m^2)
#  출력값 : 체질량지수에 따른 판정
#     18.5 미만 저체중,
#     18.5~22.9 정상
#     23.0~24.9 과체중
#     25.0 이상 비만
    
#     80.5
#     ===========
#     1.709의 제곱

def bmi(info):
    m=info['height']/100
    b=info['weight']/(m*m) #체질량지수 (bmi 지수)
    if b<18.5:
        result='저체중'
    elif 18.5<=b<22.9:
        result='정상'
    elif 23.0<=b<24.9:
        result='과체중'
    else:
        result='비만'
    return result
  
person={'name':'kim','age':20,'height':170.9,'weight':65.5}
r=bmi(person)
print('{}님은 {}입니다.'.format(person['name'],r))

kim님은 정상입니다.