In [28]:
df<-read.csv('d:/data/iris/iris.csv')
head(df)

  sepal.length..cm. sepal.width..cm. petal.length..cm. petal.width..cm. target
1 5.1               3.5              1.4               0.2              setosa
2 4.9               3.0              1.4               0.2              setosa
3 4.7               3.2              1.3               0.2              setosa
4 4.6               3.1              1.5               0.2              setosa
5 5.0               3.6              1.4               0.2              setosa
6 5.4               3.9              1.7               0.4              setosa

In [29]:
dim(df)
summary(df)

[1] 150   5

 sepal.length..cm. sepal.width..cm. petal.length..cm. petal.width..cm.
 Min.   :4.300     Min.   :2.000    Min.   :1.000     Min.   :0.100
 1st Qu.:5.100     1st Qu.:2.800    1st Qu.:1.600     1st Qu.:0.300
 Median :5.800     Median :3.000    Median :4.350     Median :1.300
 Mean   :5.843     Mean   :3.057    Mean   :3.758     Mean   :1.199
 3rd Qu.:6.400     3rd Qu.:3.300    3rd Qu.:5.100     3rd Qu.:1.800
 Max.   :7.900     Max.   :4.400    Max.   :6.900     Max.   :2.500
        target
 setosa    :50
 versicolor:50
 virginica :50

In [30]:
(corrmatrix <- cor(df))

ERROR: Error in cor(df): 'x' must be numeric

In [31]:
library(corrplot)
corrplot(cor(df),method='circle') #텍스트 필드 제거

ERROR: Error in cor(df): 'x' must be numeric

In [8]:
library(caret)
set.seed(123) #랜덤 시드 고정
#학습용:검즈용 = 8:2로 구분
idx_train<-createDataPartition(y=df$Species,p=0.8,list=F)
train<-df[idx_train,] #학습용 데이터셋
X_train<-train[,-5] #독립변수
y_train<-train[,5] #종속변수
test<-df[-idx,train,] #검증용 데이터셋
X_test<-test[,-5]
y_test<-test[,5]

ERROR: Error in createDataPartition(y = df$Species, p = 0.8, list = F): y must have at least 2 data points

In [13]:
df<-read.csv('d:/data/iris/iris2.csv')
head(df)

  sepal.length..cm. sepal.width..cm. petal.length..cm. petal.width..cm. target
1 5.1               3.5              1.4               0.2              setosa
2 4.9               3.0              1.4               0.2              setosa
3 4.7               3.2              1.3               0.2              setosa
4 4.6               3.1              1.5               0.2              setosa
5 5.0               3.6              1.4               0.2              setosa
6 5.4               3.9              1.7               0.4              setosa
  Result
1 0
2 0
3 0
4 0
5 0
6 0

In [14]:
dim(df)
summary(df)

[1] 150   6

 sepal.length..cm. sepal.width..cm. petal.length..cm. petal.width..cm.
 Min.   :4.300     Min.   :2.000    Min.   :1.000     Min.   :0.100
 1st Qu.:5.100     1st Qu.:2.800    1st Qu.:1.600     1st Qu.:0.300
 Median :5.800     Median :3.000    Median :4.350     Median :1.300
 Mean   :5.843     Mean   :3.057    Mean   :3.758     Mean   :1.199
 3rd Qu.:6.400     3rd Qu.:3.300    3rd Qu.:5.100     3rd Qu.:1.800
 Max.   :7.900     Max.   :4.400    Max.   :6.900     Max.   :2.500
        target       Result
 setosa    :50   Min.   :0
 versicolor:50   1st Qu.:0
 virginica :50   Median :1
                 Mean   :1
                 3rd Qu.:2
                 Max.   :2

In [15]:
(corrmatrix <-cor(df))

ERROR: Error in cor(df): 'x' must be numeric

In [16]:
library(corrplot)
corrplot(cor(df),method='circle') #텍스트 필드 제거

ERROR: Error in cor(df): 'x' must be numeric

In [17]:
library(caret)
set.seed(123) #랜덤 시드 고정
#학습용:검즈용 = 8:2로 구분
idx_train<-createDataPartition(y=df$Result,p=0.8,list=F)
train<-df[idx_train,] #학습용 데이터셋
X_train<-train[,-5] #독립변수
y_train<-train[,5] #종속변수
test<-df[-idx,train,] #검증용 데이터셋
X_test<-test[,-5]
y_test<-test[,5]

ERROR: Error in x[j]: 유효하지 않은 첨자의 타입 'list'입니다

In [18]:
library(nnet)
# 3 class 이상인 경우 multinom 함수 사용
model<-multinom(Result~., data=train)
summary(model) #모형 요약

# weights:  24 (14 variable)
initial  value 131.833475
iter  10 value 0.076705
iter  20 value 0.011971
iter  30 value 0.003008
iter  40 value 0.001612
iter  50 value 0.000107
iter  50 value 0.000099
iter  50 value 0.000099
final  value 0.000099
converged

Call:
multinom(formula = Result ~ ., data = train)

Coefficients:
  (Intercept) sepal.length..cm. sepal.width..cm. petal.length..cm.
1  -1.9897055        -2.3703053        -3.884398          6.695635
2   0.8547437        -0.9805315        -5.456095          3.427008
  petal.width..cm. targetversicolor targetvirginica
1         4.511137        -7.678559        9.447701
2         4.734025        14.806317       -4.317089

Std. Errors:
  (Intercept) sepal.length..cm. sepal.width..cm. petal.length..cm.
1    3301.764          890.3510         565.2782         1057.3971
2    2627.206          757.3891         503.6191          792.2689
  petal.width..cm. targetversicolor targetvirginica
1         1979.445         2815.186        27392.85
2         1546.493         1324.724        33072.08

Residual Deviance: 0.0001974662
AIC: 28.0002

In [19]:
(coef1<-coef(model)) #회귀계수

  (Intercept) sepal.length..cm. sepal.width..cm. petal.length..cm.
1 -1.9897055  -2.3703053        -3.884398        6.695635
2  0.8547437  -0.9805315        -5.456095        3.427008
  petal.width..cm. targetversicolor targetvirginica
1 4.511137         -7.678559         9.447701
2 4.734025         14.806317        -4.317089

In [20]:
#검증용 데이터셋으로 모형 평가
pred<-predict(model,newdata=X_test,type='probs')
pred
result<-ifelse(pred>0.5,1,0)
head(result)
#head(y_test)
y_test

ERROR: Error in as.data.frame(newdata): 객체 'X_test'를 찾을 수 없습니다

In [ ]:
#3 class 와 맞지 않음
mean(y_test == result)