In [14]:
import pandas as pd
df=pd.read_csv('d:/data/traffic/data.csv',engine='python')
#df.head()
df

,호선,역번호,역 명,계,일평균,1월,2월,3월,4월,5월,6월,7월
0,1,150,서울역(1),19799600,93562,2823972,2542481,2885932,2918104,2993718,2770656,2864737
1,1,151,시청(1),9478426,44701,1367861,1114504,1380702,1432476,1460584,1334755,1387544
2,1,152,종각,16783116,78856,2529090,2098588,2445715,2433679,2496189,2269648,2510207
3,1,153,종로3가(1),11553939,54481,1729440,1465221,1692299,1638929,1734230,1600924,1692896
4,1,154,종로5가,10379864,49299,1532069,1303823,1558679,1532793,1571939,1423812,1456749
...,...,...,...,...,...,...,...,...,...,...,...,...
283,9,4134,송파나루,1324501,6146,172531,154426,189654,200834,204882,190174,212000
284,9,4135,한성백제,691398,3229,89927,77050,95084,100688,120700,101026,106923
285,9,4136,올림픽공원(9),2674546,12209,306660,255489,367268,378991,448814,452593,464731
286,9,4137,둔촌오륜,307202,1429,36489,33254,46402,47914,48455,46293,48395
287,9,4138,중앙보훈병원,2473023,11423,322250,281153,344386,369543,386127,364045,405519

In [13]:
df.describe()

,호선,역번호,계,일평균,1월,2월,3월,4월,5월,6월,7월
count,288.000000,288.000000,2.880000e+02,288.000000,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02
mean,4.861111,1744.243056,5.491737e+06,25914.190972,7.807080e+05,6.649665e+05,8.136008e+05,8.205614e+05,8.433722e+05,7.672591e+05,8.012688e+05
std,2.180404,1262.506399,4.577365e+06,21553.034548,6.739985e+05,5.781245e+05,6.723024e+05,6.665224e+05,6.855378e+05,6.304334e+05,6.776332e+05
min,1.000000,150.000000,3.072020e+05,1429.000000,3.648900e+04,3.325400e+04,4.640200e+04,4.791400e+04,4.845500e+04,4.629300e+04,4.839500e+04
25%,3.000000,321.500000,2.641664e+06,12176.250000,3.462888e+05,2.965675e+05,3.729890e+05,3.781295e+05,4.006558e+05,3.637908e+05,3.800970e+05
50%,5.000000,2535.500000,4.287678e+06,20260.500000,5.955250e+05,5.089835e+05,6.450845e+05,6.564945e+05,6.791040e+05,5.981110e+05,6.103110e+05
75%,7.000000,2719.250000,6.549678e+06,31115.250000,9.412722e+05,7.976460e+05,9.684600e+05,9.772028e+05,9.963918e+05,9.032735e+05,9.695805e+05
max,9.000000,4138.000000,3.050288e+07,142123.000000,4.749571e+06,3.901121e+06,4.367422e+06,4.234069e+06,4.365377e+06,4.106734e+06,4.778586e+06

In [2]:
df2=df.iloc[:,3:13] # 모든행, 3~12열
df2.describe() #기초통계량
#2.8780000e+02 => 288
# count 샘플갯수
# mean 평균
# std 표준편차
# min 최소값
# 25% 1사분위수
# 50% 2사분위수(중위수)
# 75% 3사분위수
# max 최대값

,계,일평균,1월,2월,3월,4월,5월,6월,7월
count,2.880000e+02,288.000000,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02,2.880000e+02
mean,5.491737e+06,25914.190972,7.807080e+05,6.649665e+05,8.136008e+05,8.205614e+05,8.433722e+05,7.672591e+05,8.012688e+05
std,4.577365e+06,21553.034548,6.739985e+05,5.781245e+05,6.723024e+05,6.665224e+05,6.855378e+05,6.304334e+05,6.776332e+05
min,3.072020e+05,1429.000000,3.648900e+04,3.325400e+04,4.640200e+04,4.791400e+04,4.845500e+04,4.629300e+04,4.839500e+04
25%,2.641664e+06,12176.250000,3.462888e+05,2.965675e+05,3.729890e+05,3.781295e+05,4.006558e+05,3.637908e+05,3.800970e+05
50%,4.287678e+06,20260.500000,5.955250e+05,5.089835e+05,6.450845e+05,6.564945e+05,6.791040e+05,5.981110e+05,6.103110e+05
75%,6.549678e+06,31115.250000,9.412722e+05,7.976460e+05,9.684600e+05,9.772028e+05,9.963918e+05,9.032735e+05,9.695805e+05
max,3.050288e+07,142123.000000,4.749571e+06,3.901121e+06,4.367422e+06,4.234069e+06,4.365377e+06,4.106734e+06,4.778586e+06

In [15]:
df2.mean()

계      5.491737e+06
일평균    2.591419e+04
1월     7.807080e+05
2월     6.649665e+05
3월     8.136008e+05
4월     8.205614e+05
5월     8.433722e+05
6월     7.672591e+05
7월     8.012688e+05
dtype: float64

In [3]:
df2['계'].mean() #필드 평균

5491736.798611111

In [5]:
df.sum() #필드별 합계

호선                                                       1400
역번호                                                    502342
역      명    서울역(1)시청(1)종각종로3가(1)종로5가동대문(1)신설동(1)제기동청량리동묘앞(...
계                                                  1581620198
일평균                                                   7463287
1월                                                  224843915
2월                                                  191510348
3월                                                  234317028
4월                                                  236321689
5월                                                  242891189
6월                                                  220970623
7월                                                  230765406
dtype: object

In [4]:
df2.sum(axis=0) #세로방향 합계(열)

계      1581620198
일평균       7463287
1월      224843915
2월      191510348
3월      234317028
4월      236321689
5월      242891189
6월      220970623
7월      230765406
dtype: int64

In [6]:
df2.sum(axis=1) #가로방향 합계(행)

0      39692762
1      19001553
2      33645088
3      23162359
4      20809027
         ...
283     2655148
284     1386025
285     5361301
286      615833
287     4957469
Length: 288, dtype: int64

In [8]:
df2.var() #필드별 분산

계      2.095227e+13
일평균    4.645333e+08
1월     4.542740e+11
2월     3.342279e+11
3월     4.519905e+11
4월     4.442520e+11
5월     4.699620e+11
6월     3.974462e+11
7월     4.591867e+11
dtype: float64

In [7]:
df2['계'].var() #분산

20952267568970.52

In [9]:
# 람다식 lambda 입력값 : 출력값
f1=lambda x : x.max() - x.min()

In [10]:
df2['계'].head()

0    19799600
1     9478426
2    16783116
3    11553939
4    10379864
Name: 계, dtype: int64

In [11]:
df2.apply(f1, axis=0) # 각 열에 f1함수 적용

계      30195678
일평균      140694
1월      4713082
2월      3867867
3월      4321020
4월      4186155
5월      4316922
6월      4060441
7월      4730191
dtype: int64

In [12]:
df2.apply(f1,axis=1) # 각 행에 f1 함수 적용

0      19706038
1       9433725
2      16704260
3      11499458
4      10330565
         ...
283     1318355
284      688169
285     2662337
286      305773
287     2461600
Length: 288, dtype: int64