In [3]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select name, kor, eng, mat, kor+eng+mat 총점,
round((kor+eng+mat)/3,2) 평균,
case 
when (kor+eng+mat)/3 >= 90 then 'A'
when (kor+eng+mat)/3 >= 80 then 'B'
when (kor+eng+mat)/3 >= 70 then 'C'
when (kor+eng+mat)/3 >= 60 then 'D'
else 'F'
end 등급
from score
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
for row in rows:
    print('{}\t{}\t{}\t{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3],
                                             row[4],row[5],row[6]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

이름	국어	영어	수학	총점	평균	등급
kim	90	80	70	240	80	B
park	88	77	66	231	77	C
hong	95	84	54	233	77.67	C
choi	87	66	99	252	84	B

In [6]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select * from score_v
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
for row in rows:
    print('{}\t{}\t{}\t{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3],
                                             row[4],row[5],row[6]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

이름	국어	영어	수학	총점	평균	등급
kim	90	80	70	240	80	B
park	88	77	66	231	77	C
hong	95	84	54	233	77.67	C
choi	87	66	99	252	84	B

In [19]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select empno,ename,deptno,
case when deptno = 10 then '경리팀'
when deptno = 20 then '연구팀'
when deptno = 30 then '총무팀'
when deptno = 40 then '전산팀'
end 부서명
from emp
order by ename
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('사번\t이름\t코드\t부서명')
print('='*30)
for row in rows:
    print('{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

사번	이름	코드	부서명
==============================
7782	구자철	10	경리팀
7369	김철수	20	연구팀
7839	김철호	10	경리팀
7654	나대호	30	총무팀
7900	박민성	30	총무팀
7521	박종수	30	총무팀
7698	박지성	30	총무팀
7902	박진성	20	연구팀
7844	성명준	30	총무팀
7788	송기성	20	연구팀
7499	이찬수	30	총무팀
7566	임채호	20	연구팀
7934	최철호	10	경리팀
7876	황인태	20	연구팀

In [20]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select * from emp2_v
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('사번\t이름\t코드\t부서명')
print('='*30)
for row in rows:
    print('{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

사번	이름	코드	부서명
==============================
7782	구자철	10	경리팀
7369	김철수	20	연구팀
7839	김철호	10	경리팀
7654	나대호	30	총무팀
7900	박민성	30	총무팀
7521	박종수	30	총무팀
7698	박지성	30	총무팀
7902	박진성	20	연구팀
7844	성명준	30	총무팀
7788	송기성	20	연구팀
7499	이찬수	30	총무팀
7566	임채호	20	연구팀
7934	최철호	10	경리팀
7876	황인태	20	연구팀

In [22]:
#저장프로시저 호출
import cx_Oracle 

conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() 
#커서.callproc('프로시저이름',[전달할값])
cursor.callproc('update_sal',[7788])
#레코드가 변경될 경우 커밋을 해야함
conn.commit()
print('처리되었습니다.')
cursor.close()
conn.close()

In [34]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select empno,ename,sal from emp
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('사번\t이름\t급여')
print('='*20)
for row in rows:
    print('{}\t{}\t{}'.format(row[0],row[1],row[2]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

사번	이름	급여
====================
7369	김철수	242.0
7499	이찬수	260.0
7521	박종수	325.0
7566	임채호	497.0
7654	나대호	325.0
7698	박지성	485.0
7782	구자철	445.0
7788	송기성	550.0
7839	김철호	800.0
7844	성명준	350.0
7876	황인태	210.0
7900	박민성	295.0
7902	박진성	600.0
7934	최철호	230.0

In [35]:
import cx_Oracle 

conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() 
#커서.callproc('프로시저이름',[전달할값])
cursor.callproc('update_comm',[7698,350])
#레코드가 변경될 경우 커밋을 해야함
conn.commit()
print('처리되었습니다.')
cursor.close()
conn.close()

처리되었습니다.

In [36]:
import cx_Oracle #오라클 접속 모듈 로딩
#오라클 서버에 접속 '아이디/비번@호스트:포트번호/sid'
conn=cx_Oracle.connect('hr/hr@localhost:1521/xe')
cursor=conn.cursor() #커서생성
sql='''
select empno,ename,sal,comm from emp_copy
'''
cursor.execute(sql) #sql 명령어 실행
rows=cursor.fetchall() #결과셋을 리스트로 저장
print('사번\t이름\t급여\t보너스')
print('='*30)
for row in rows:
    print('{}\t{}\t{}\t{}'.format(row[0],row[1],row[2],row[3]))
#데이터베이스 관련 리소스 정리
cursor.close()
conn.close()

사번	이름	급여	보너스
==============================
7369	김철수	242.0	500.0
7499	이찬수	260.0	300.0
7521	박종수	325.0	500.0
7566	임채호	497.0	200.0
7654	나대호	325.0	1400.0
7698	박지성	485.0	350.0
7782	구자철	445.0	None
7788	송기성	550.0	None
7839	김철호	800.0	None
7844	성명준	350.0	0.0
7876	황인태	210.0	None
7900	박민성	295.0	None
7902	박진성	600.0	None
7934	최철호	230.0	None