In [9]:
data1<-c(1,1,1,1,1,1,1,1,1,1,3,3,3,3,3,4,5,6)
data2<-c(1,2,1,1,1,1,1,1,1,1,3,4,3,3,3,4,5,6)
data3<-c(3,4,3,4,4,1,1,1,1,1,1,1,1,1,3,4,5,6)
data4<-c(1,1,1,3,4,5,2,3,1,1,3,3,3,3,3,4,5,6)
data5<-c(1,2,3,2,1,1,1,1,1,1,3,3,3,3,3,4,5,6)
data6<-c(1,2,2,1,1,2,3,3,6,5,6,5,3,4,5,6,5,4)
#1차원벡터를 2차원으로 변환
testData<-cbind(data1,data2,data3,data4,data5,data6)
head(testData)

     data1 data2 data3 data4 data5 data6
[1,] 1     1     3     1     1     1
[2,] 1     2     4     1     2     2
[3,] 1     1     3     1     3     2
[4,] 1     1     4     3     2     1
[5,] 1     1     4     4     1     1
[6,] 1     1     1     5     1     2

In [11]:
EigenData<-cor(testData) #상관계수 행렬
EigenData
eigen(EigenData)

      data1     data2     data3      data4     data5     data6
data1 1.0000000 0.9796428  0.4592549 0.6868827 0.9388680  0.5320765
data2 0.9796428 1.0000000  0.4545923 0.6374148 0.9320376  0.5244044
data3 0.4592549 0.4545923  1.0000000 0.4098089 0.5789650 -0.1946043
data4 0.6868827 0.6374148  0.4098089 1.0000000 0.5853123  0.1098293
data5 0.9388680 0.9320376  0.5789650 0.5853123 1.0000000  0.4055836
data6 0.5320765 0.5244044 -0.1946043 0.1098293 0.4055836  1.0000000

eigen() decomposition
$values
[1] 3.91341240 1.25871719 0.54753308 0.21405857 0.05117898 0.01509978

$vectors
           [,1]        [,2]        [,3]       [,4]        [,5]         [,6]
[1,] -0.4974909  0.09646235 -0.01490673  0.1840957 -0.21357903  0.814535693
[2,] -0.4911084  0.10344356  0.05315783  0.2864351 -0.61261683 -0.536602066
[3,] -0.2870577 -0.62209408  0.48397528 -0.5370898 -0.08871781  0.005330931
[4,] -0.3711749 -0.22629017 -0.82735131 -0.3089987  0.13846509 -0.108899036
[5,] -0.4826337 -0.02832925  0.23064036  0.3754403  0.73480168 -0.179382942
[6,] -0.2412615  0.73551588  0.15816064 -0.5993018  0.11003493 -0.067261941

In [12]:
#6개의 변수가 3개의 변수로 차원이 축소됨
factanal(testData,factors=3) #3개의 요인으로 분석

Call:
factanal(x = testData, factors = 3)

Uniquenesses:
data1 data2 data3 data4 data5 data6
0.005 0.033 0.286 0.005 0.056 0.270

Loadings:
      Factor1 Factor2 Factor3
data1  0.723   0.515   0.455
data2  0.727   0.530   0.398
data3          0.814   0.213
data4  0.161   0.272   0.946
data5  0.609   0.687   0.318
data6  0.838  -0.163

               Factor1 Factor2 Factor3
SS loadings      2.156   1.781   1.407
Proportion Var   0.359   0.297   0.234
Cumulative Var   0.359   0.656   0.891

The degrees of freedom for the model is 0 and the fit was 0.008