In [1]:
import pymssql # SQL Server 연동 모듈

def emp_list():
    # SQL Server에 접속
    conn=pymssql.connect(host=r'(local)',database='web',
      user='sa',password='1234',charset='utf8')
    #커서 생성
    cursor=conn.cursor()

    sql='select * from emp'
    cursor.execute(sql)
    rows=cursor.fetchall()
    print('사번\t이름\t직급\t관리자\t입사일자\t\t급여\t커미션\t연봉\t부서')
    print('='*80)
    for row in rows:
        if row[6]==None: # 필드값이 None이면 0으로 처리
            comm=0
        else: # None이 아니면 숫자로 바꿔서 저장
            comm=row[6]
        #연봉 계산
        money=row[5]*12 + comm

        #부서이름 처리
        if row[7]==10:
            dname='총무팀'
        elif row[7]==20:
            dname='경리팀'
        elif row[7]==30:
            dname='연구팀'
        else:
            dname='기타'

        # {:,} 천단위 컴머 추가
        print('{}\t{}\t{}\t{}\t{}\t{}\t{}\t{:,}\t{}'.format(
    row[0],row[1],row[2],row[3],row[4],row[5],comm,money,dname))

    #리소스 정리
    cursor.close()
    conn.close()

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  """Entry point for launching an IPython kernel.

In [2]:
import pymssql # SQL Server 연동 모듈
def emp_delete():
    conn=pymssql.connect(host=r'(local)',database='web',
      user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()

    sql='delete from emp'
    cursor.execute(sql)
    conn.commit() 
    print('처리되었습니다.')
    cursor.close()
    conn.close()

In [3]:
import pymssql # SQL Server 연동 모듈
def emp_insert():
    conn=pymssql.connect(host=r'(local)',database='web',
      user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()

    sql='insert into emp values (%d,%s,%s,%s,%d,%d,%s,%d)'
    items=[(7369,'김철수','사원',7902,'2000-12-17',200,None,20),
          (7499,'이찬수','주임',7698,'2001-02-20',260,300,30),
          (7521,'박종수','주임',7698,'2002-02-22',325,500,30),
          (7566,'임채호','과장',7839,'2001-04-02',497,None,20),
          (7654,'나대호','주임',7698,'2001-09-28',325,1400,30)
          ]
    cursor.executemany(sql,items)
    conn.commit() 
    print('처리되었습니다.')
    cursor.close()
    conn.close()

In [4]:
# 급여 인상 : 전체 직원 10% 인상
import pymssql # SQL Server 연동 모듈
def sal_increase():
    conn=pymssql.connect(host=r'(local)',database='web',
      user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()

    sql='update emp set sal=sal*1.1'
    cursor.execute(sql)
    conn.commit() 
    print('처리되었습니다.')
    cursor.close()
    conn.close()

emp_delete() #전체 레코드 삭제
emp_insert() #전체 레코드 추가
# (7369,'김철수','사원',7902,'2000-12-17',200,None,20)
sal_increase()    
emp_list()

처리되었습니다.
처리되었습니다.
처리되었습니다.
사번	이름	직급	관리자	입사일자		급여	커미션	연봉	부서
================================================================================
7369	김철수	사원	7902	2000-12-17	220	0	2,640	경리팀
7499	이찬수	주임	7698	2001-02-20	286	300	3,732	연구팀
7521	박종수	주임	7698	2002-02-22	357	500	4,784	연구팀
7566	임채호	과장	7839	2001-04-02	546	0	6,552	경리팀
7654	나대호	주임	7698	2001-09-28	357	1400	5,684	연구팀