In [1]:
# install.packages("DBI")
# install.packages("RJDBC")

Installing package into 'C:/Users/tjoeun302-18/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'DBI' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tjoeun302-18\AppData\Local\Temp\RtmpyIprOB\downloaded_packages

Installing package into 'C:/Users/tjoeun302-18/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'RJDBC' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\tjoeun302-18\AppData\Local\Temp\RtmpyIprOB\downloaded_packages

In [27]:
library(rJava)
library(xlsx)

In [6]:
#패키지 로딩
library(DBI)
#java home directory 지정
Sys.setenv(JAVA_HOME='C:/Program Files/Java/jre1.8.0_241')
library(rJava)
library(RJDBC)

In [7]:
drv<-JDBC('oracle.jdbc.driver.OracleDriver',
         'C:/oraclexe/app/oracle/product/11.2.0/server/jdbc/lib/ojdbc6.jar')

In [9]:
#오라클 서버에 접속
conn<-dbConnect(drv,'jdbc:oracle:thin:@//127.0.0.1:1521/xe','hr','hr')
#sql 명령어
query <- 'select * from tab'
#sql 명령어 실행됨
dbGetQuery(conn,query)

    TNAME                          TABTYPE CLUSTERID
1   BIN$05pbGM4vQkClprOgdWIHaQ==$0 TABLE   NA
2   BIN$1vVoEovkSAm9ITNg4oNG5w==$0 TABLE   NA
3   BIN$CPccZdIxS/ys0dC/NWMeGw==$0 TABLE   NA
4   BIN$D3NxNBxiRz+7J1/uqSZehg==$0 TABLE   NA
5   BIN$E6HFxsX7RX+I6Et3JkGF2w==$0 TABLE   NA
6   BIN$Ecdo5CWHRGegfNIm1MjqYA==$0 TABLE   NA
7   BIN$F/0Clz1HTh20VD74el2fFw==$0 TABLE   NA
8   BIN$F0gB39fYQRiJf1ENHNYZ5w==$0 TABLE   NA
9   BIN$GeVE0gOURkywwdsr+uFadw==$0 TABLE   NA
10  BIN$HLLoHhcTQg+dVZKw50rFQA==$0 TABLE   NA
11  BIN$KEw9rSivQH+XxO3QNX+uaw==$0 TABLE   NA
12  BIN$OBrzNfxsRA6gKvvRpzvTuA==$0 TABLE   NA
13  BIN$PGC55lIDSEWTF/5gyTRZJg==$0 TABLE   NA
14  BIN$PYr0/uEiTVq7KsAFUaKRAQ==$0 TABLE   NA
15  BIN$RZYrBxyaQTuIb8pCQ/77Tw==$0 TABLE   NA
16  BIN$TXrClk74QhKgni7MqvY3CQ==$0 TABLE   NA
17  BIN$TqzVvxYlQJimQrSCb+DX4g==$0 TABLE   NA
18  BIN$UANlK5A1QYWM9NSQzy2DnA==$0 TABLE   NA
19  BIN$UWRnGrv4QXaH8KoYjQ8Fsg==$0 TABLE   NA
20  BIN$WW7MBPaPQbOfAZZlDod0Cw==$0 TABLE   NA
21  BIN$XHjH0gwpTX2kmU5l0nE2Pg==$0 TABLE   NA
22  BIN$Xbd3bmr0QVKapQ9XqO21CQ==$0 TABLE   NA
23  BIN$YMm6vPc6TDGXPmTXxEvLPA==$0 TABLE   NA
24  BIN$bCSh0u6WQDKz1iMGFP7uBg==$0 TABLE   NA
25  BIN$d8KMgZW4RMi8AOR1++YuHw==$0 TABLE   NA
26  BIN$ifcXVYdzQDWyyLw9CsEOvA==$0 TABLE   NA
27  BIN$j4/RHVMeQdyQwHshhXSvzg==$0 TABLE   NA
28  BIN$jq0CsRnLTcqqzNCBUf6ncw==$0 TABLE   NA
29  BIN$kNNRuV/3Qm6tINvGWmBi4Q==$0 TABLE   NA
30  BIN$o/QblShRQ9yPPakkfdaZtQ==$0 TABLE   NA
... ...                            ...     ...
63  LOCATIONS                      TABLE   NA
64  MEMBER                         TABLE   NA
65  MEMO                           TABLE   NA
66  MYDEPT                         TABLE   NA
67  MYEMP                          TABLE   NA
68  PANMAE                         TABLE   NA
69  POINT                          TABLE   NA
70  PRODUCT                        TABLE   NA
71  PRODUCT_SALES                  TABLE   NA
72  PROFESSOR                      TABLE   NA
73  PT_01                          TABLE   NA
74  PT_02                          TABLE   NA
75  P_01                           TABLE   NA
76  P_02                           TABLE   NA
77  P_GRADE                        TABLE   NA
78  P_TOTAL                        TABLE   NA
79  REGIONS                        TABLE   NA
80  REG_TEST                       TABLE   NA
81  SALARY                         TABLE   NA
82  SCORE                          TABLE   NA
83  SCORE_V                        VIEW    NA
84  STUDENT                        TABLE   NA
85  STUDENT_V                      VIEW    NA
86  SUBJECT                        TABLE   NA
87  T1                             TABLE   NA
88  TEST_ENABLE                    TABLE   NA
89  TEST_NOVALIDATE                TABLE   NA
90  TEST_VALIDATE                  TABLE   NA
91  TEST_VIEW                      VIEW    NA
92  T_EMP                          TABLE   NA

In [10]:
#sql 명령어
query<-'select * from product'
#sql 명령어 실행됨
head(dbGetQuery(conn,query))

  PRODUCT_ID PRODUCT_NAME PRICE
1 1          레몬         1500
2 2          오렌지       2000
3 3          키위         3000
4 4          포도         5000
5 5          딸기         8000
6 6          귤           7000
  DESCRIPTION                                         PICTURE_URL
1 레몬에 포함된 구연산은 피로회복에 좋습니다          lemon.jpg
2 비타민 C가 풍부합니다.                              orange.jpg
3 다이어트나 미용에 좋습니다.                         kiwi.jpg
4 폴리페놀을 다량 함유하고 있습니다.                  grape.jpg
5 비타민 C나 플라보노이드를 다량 함유하고 있습니다.   strawberry.jpg
6 시네피린을 함유하고 있어 감기 예방에 좋다고 합니다. tangerine.jpg

In [18]:
#레코드 삭제(auto commit)
query<-"delete from product"
dbSendUpdate(conn,query) #레코드 추가 ,수정 삭제 함수
query<-'select * from product'
dbGetQuery(conn,query) #select 함수

     PRODUCT_ID PRODUCT_NAME PRICE DESCRIPTION PICTURE_URL

In [19]:
#레코드 추가
query<-"insert into product values (1,'레몬',1500,'맛있는 레몬','lemon.jpg')"
dbSendUpdate(conn,query)
query<-"insert into product values (2,'오렌지',3000,'맛있는 오렌지','orange.jpg')"
dbSendUpdate(conn,query)
query<-"insert into product values (3,'키위',4500,'맛있는 키위','kiwi.jpg')"
dbSendUpdate(conn,query)
query<-'select * from product' #레코드 조회
dbGetQuery(conn,query)

  PRODUCT_ID PRODUCT_NAME PRICE DESCRIPTION   PICTURE_URL
1 3          키위         4500  맛있는 키위   kiwi.jpg
2 1          레몬         1500  맛있는 레몬   lemon.jpg
3 2          오렌지       3000  맛있는 오렌지 orange.jpg

In [30]:
query<-'select * from product where price >= 2000 order by price'
result <- dbGetQuery(conn,query)
result
#class(result)
write.xlsx(result,"d:/data/product/product.xlsx",row.names=F)

  PRODUCT_ID PRODUCT_NAME PRICE DESCRIPTION   PICTURE_URL
1 2          오렌지       3000  맛있는 오렌지 orange.jpg
2 3          키위         8000  맛있는 키위   kiwi.jpg

In [24]:
#레코드 수정
query = "update product set price=8000 where product_name='키위'"
dbSendUpdate(conn,query)
query<-"select * from product"
dbGetQuery(conn,query)

  PRODUCT_ID PRODUCT_NAME PRICE DESCRIPTION   PICTURE_URL
1 3          키위         8000  맛있는 키위   kiwi.jpg
2 1          레몬         1500  맛있는 레몬   lemon.jpg
3 2          오렌지       3000  맛있는 오렌지 orange.jpg

In [31]:
dbDisconnect(conn)

[1] TRUE