In [27]:
import pymssql #SQL Server 연동 모듈

def emp_list():
    
    #sql sever에 접속
    conn=pymssql.connect(host=r'(local)',database='web',
                        user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()

    sql='select * from emp'
    cursor.execute(sql)
    rows=cursor.fetchall()
    print('''
    사번\t이름\t직급\t관리자\t입사일자\t\t급여\t커미션\t연봉\t부서''')
    print('='*80)
    for row in rows: #필드값이 None이면 0으로 처리
        if row[6]==None:
            comm=0
        else: #None이 아니면 숫자로 바꿔서 저장
            comm=int(row[6])
        #연봉 계산 
        money=row[5]*12+comm
        #{:,} 천단위 컴머 추가

        if row[7]==10:
            dname='총무팀'
        elif row[7]==20:
            dname='경리팀'
        elif row[7]==30:
            dname='연구팀'
        else:
            dname='기타'

        print('{}\t{}\t{}\t{}\t{}\t{}\t{}\t{:,}\t{}'.format(row[0],
        row[1],row[2],row[3],row[4],row[5],comm,money,dname))

    cursor.close()
    conn.close()

In [32]:
import pymssql
def emp_delete():
    conn=pymssql.connect(host=r'(local)',databse='web',
                        user='sa',password='1234',charser='utf8')
    cursor=conn.cursor()
    
    sql='delete from emp'
    cursor.execute(sql)
    conn.commit()
    print('처리되었습니다.')
    conn.close()

In [ ]:
import pymssql
def emp_insert():
    conn=pymssql.connect(host=r'(local)'),database='web',
    user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()
    
    sql='insert into emp values (%d,%s,%s,%s,%d,%d,%s,%d)'
    items=[(7369,'김철수','사원',7902,'2000-12-17',200,None,20),
          (7499,'이찬수','주임',7698,'2001-02-20',260,300,30),
          (7521,'박종수','주임',7698,'2002-02-22',325,500,30),
          (7566,'임채호','과장',7839,'2001-04-02',497,None,20),
          (7654,'나대호','주임',7698,'2001-09-28',325,1400,30)
          ]
    cursor.executemany(sql,items)
    conn.commit()
    print('처리되었습니다.')
    cursor.close()
    conn.close()

In [29]:
#급여 인상: 전체 직원 10% 인상

import pymssql
conn=pymssql.connect(host=r'(local)',database='web',
                    user='sa',password='1234',charset='utf8')
cursor=conn.cursor()

sql='update emp set sal=sal*1.1'
cursor.execute(sql)
#레코드 추가,수정,삭제 작업은 커밋 필수
conn.commit() 
print('처리되었습니다.')

cursor.close()
conn.close()

처리되었습니다.

    사번	이름	직급	관리자	입사일자		급여	커미션	연봉	부서
================================================================================
7369	김철수	사원	7902	2000-12-17	266	0	3,192	경리팀
7499	이찬수	주임	7698	2001-02-20	345	300	4,440	연구팀
7521	박종수	주임	7698	2002-02-22	431	500	5,672	연구팀
7566	임채호	과장	7839	2001-04-02	660	0	7,920	경리팀
7654	나대호	주임	7698	2001-09-28	431	1400	6,572	연구팀
7698	박지성	과장	7839	2001-05-01	644	0	7,728	연구팀
7782	구자철	과장	7839	2001-06-09	590	0	7,080	총무팀
7788	송기성	부장	7566	1997-04-17	665	0	7,980	경리팀
7839	김철호	대표	None	2001-11-17	1064	0	12,768	총무팀
7844	성명준	주임	7698	2001-09-08	465	0	5,580	연구팀
7876	황인태	사원	7788	2007-05-23	279	0	3,348	경리팀
7900	박민성	사원	7698	2001-12-03	391	0	4,692	연구팀
7902	박진성	부장	7566	2001-12-03	798	0	9,576	경리팀
7934	최철호	사원	7782	2012-01-23	305	0	3,660	총무팀

In [30]:
#급여 인상: 전체 직원 10% 인상

import pymssql
def sal_increase():
    conn=pymssql.connect(host=r'(local)',database='web',
                        user='sa',password='1234',charset='utf8')
    cursor=conn.cursor()

    sql='update emp set sal=sal*1.1'
    cursor.execute(sql)
    #레코드 추가,수정,삭제 작업은 커밋 필수
    conn.commit() 
    print('처리되었습니다.')

    cursor.close()
    conn.close()

In [31]:
sal_increase()
emp_list()

처리되었습니다.

    사번	이름	직급	관리자	입사일자		급여	커미션	연봉	부서
================================================================================
7369	김철수	사원	7902	2000-12-17	292	0	3,504	경리팀
7499	이찬수	주임	7698	2001-02-20	379	300	4,848	연구팀
7521	박종수	주임	7698	2002-02-22	474	500	6,188	연구팀
7566	임채호	과장	7839	2001-04-02	726	0	8,712	경리팀
7654	나대호	주임	7698	2001-09-28	474	1400	7,088	연구팀
7698	박지성	과장	7839	2001-05-01	708	0	8,496	연구팀
7782	구자철	과장	7839	2001-06-09	649	0	7,788	총무팀
7788	송기성	부장	7566	1997-04-17	731	0	8,772	경리팀
7839	김철호	대표	None	2001-11-17	1170	0	14,040	총무팀
7844	성명준	주임	7698	2001-09-08	511	0	6,132	연구팀
7876	황인태	사원	7788	2007-05-23	306	0	3,672	경리팀
7900	박민성	사원	7698	2001-12-03	430	0	5,160	연구팀
7902	박진성	부장	7566	2001-12-03	877	0	10,524	경리팀
7934	최철호	사원	7782	2012-01-23	335	0	4,020	총무팀

In [ ]:
emp_delete()
emp_insert()
sal_increase()
emp_list()