In [1]:
import pandas as pd

df1=pd.read_csv('d:/data/ontime/2006.csv')
df2=pd.read_csv('d:/data/ontime/2007.csv')
df3=pd.read_csv('d:/data/ontime/2008.csv')
df1=df1.append(df2) #df1 끝에 df2를 덧붙임
df1=df1.append(df3)

In [2]:
df1.shape #데이터의 차원

(21604865, 29)

In [3]:
df1.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [5]:
#필드 4개만 선택한 데이터프레임
df2=df1[['Year','Month','ArrDelay','DepDelay']]
print(df2.head())
print(df2.tail())
print(df2.shape)

   Year  Month  ArrDelay  DepDelay
0  2006      1       6.0      -2.0
1  2006      1      -5.0       0.0
2  2006      1     -23.0       0.0
3  2006      1      -8.0      -2.0
4  2006      1       0.0      -8.0
         Year  Month  ArrDelay  DepDelay
7009723  2008     12      14.0       3.0
7009724  2008     12      -2.0      -1.0
7009725  2008     12       0.0      -5.0
7009726  2008     12       9.0      11.0
7009727  2008     12      -5.0       7.0
(21604865, 4)

In [7]:
df2[:15]

    Year  Month  ArrDelay  DepDelay
0   2006      1       6.0      -2.0
1   2006      1      -5.0       0.0
2   2006      1     -23.0       0.0
3   2006      1      -8.0      -2.0
4   2006      1       0.0      -8.0
5   2006      1       2.0      -3.0
6   2006      1      20.0       5.0
7   2006      1       7.0      -3.0
8   2006      1      -7.0      -6.0
9   2006      1      -4.0      -3.0
10  2006      1       NaN       1.0
11  2006      1       NaN       NaN
12  2006      1      -5.0      -7.0
13  2006      1      -3.0       0.0
14  2006      1       5.0       0.0

In [9]:
# 결측값(NaN)이 포함된 필드가 하나라도 있는 행을 삭제
df2=df2.dropna(how='any')

In [8]:
df2.shape

(21604865, 4)

In [6]:
#연도,월 필드를 기준으로 집계
result=df2.groupby(['Year','Month']).count()
result.head()

            ArrDelay  DepDelay
Year Month
2006 1        570130    571500
     2        518645    519954
     3        596578    597631
     4        577718    578747
     5        594626    595862

In [10]:
result=df2.groupby(['Year','Month']).count()
result.head()

            ArrDelay  DepDelay
Year Month
2006 1        570130    570130
     2        518645    518645
     3        596578    596578
     4        577718    577718
     5        594626    594626

In [11]:
# 결과값을 csv 파일로 저장
result.to_csv('d:/data/ontime/result.csv')

In [ ]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
engine=create_engine('mysql+mysqldb://web:1234@localhost/myweb',
                    encoding='utf-8')
conn=engine.connect()
df2.to_sql(name='ontime',con=engine,if_exists='replace',index=False)