In [3]:
import pandas as pd
#판다스의 기본 인코딩 - utf-8
df=pd.read_csv('d:/data/mart/gs25.csv',encoding='ms949')
df.head()

,korea_cvs.pvn_nm,korea_cvs.sale_dt,korea_cvs.gen_cd,korea_cvs.age_cd,korea_cvs.category,korea_cvs.adj_qty,korea_cvs.bor_nm
0,서울특별시,20160101,F,00~19,라면,7,종로구
1,서울특별시,20160101,F,20~39,과자,655,종로구
2,서울특별시,20160101,F,20~39,라면,282,종로구
3,서울특별시,20160101,F,20~39,마스크,35,종로구
4,서울특별시,20160101,F,20~39,맥주,183,종로구

In [4]:
print(df.shape) #약 270만건
print(df.describe())

(2707786, 7)
       korea_cvs.sale_dt  korea_cvs.adj_qty
count       2.707786e+06       2.707786e+06
mean        2.017052e+07       8.666005e+01
std         8.163073e+03       1.876535e+02
min         2.016010e+07       7.000000e+00
25%         2.016093e+07       1.400000e+01
50%         2.017063e+07       3.500000e+01
75%         2.018033e+07       9.200000e+01
max         2.018123e+07       4.993800e+04

In [6]:
#mysql로 export
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()
#mysql 연결문자열 mysql+mysqldb://아이디:비번@호스트/DB
engine=create_engine('mysql+mysqldb://web:1234@localhost/myweb',
                    encoding='utf-8')
conn=engine.connect() #mysql 서버에 접속
#필드명 변경
df.columns=['sido','tm','gender','age','category','amount','gu']
#name 테이블이름 if_exists='replace' 테이블 삭제 후 export
df.to_sql(name='gs25',con=engine,if_exists='replace',index=False)

C:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [8]:
#온도 데이터 읽기
df=pd.read_csv('d:/data/mart/temperature.csv',encoding='ms949')
df.head()

,bigcon_weather.tm,bigcon_weather.stn_id,bigcon_weather.pvn_nm,bigcon_weather.bor_nm,bigcon_weather.max_ta,bigcon_weather.max_ws,bigcon_weather.min_ta,bigcon_weather.avg_ta,bigcon_weather.avg_rhm,bigcon_weather.avg_ws,bigcon_weather.sum_rn
0,20160101,98,경기도,동두천시,6.5,3.8,-6.4,-0.2,74.0,0.9,0.0
1,20160102,98,경기도,동두천시,10.1,3.2,1.9,5.4,70.0,1.3,0.0
2,20160103,98,경기도,동두천시,9.0,2.4,2.1,4.7,82.0,0.7,0.0
3,20160104,98,경기도,동두천시,8.0,5.3,-3.0,1.9,55.0,2.2,0.0
4,20160105,98,경기도,동두천시,3.1,5.6,-6.4,-2.8,36.0,1.8,0.0

In [9]:
df.columns

Index(['bigcon_weather.tm', 'bigcon_weather.stn_id', 'bigcon_weather.pvn_nm',
       'bigcon_weather.bor_nm', 'bigcon_weather.max_ta',
       'bigcon_weather.max_ws', 'bigcon_weather.min_ta',
       'bigcon_weather.avg_ta', 'bigcon_weather.avg_rhm',
       'bigcon_weather.avg_ws', 'bigcon_weather.sum_rn'],
      dtype='object')

In [10]:
pymysql.install_as_MySQLdb()
#mysql 연결문자열 mysql+mysqldb://아이디:비번@호스트/DB
engine=create_engine('mysql+mysqldb://web:1234@localhost/myweb',
                    encoding='utf-8')
conn=engine.connect() #mysql 서버에 접속
#필드명 변경
df.columns=['tm', 'stn_id', 'pvn_nm',
       'bor_nm', 'max_ta',
       'max_ws', 'min_ta',
       'avg_ta', 'avg_rhm',
       'avg_ws', 'sum_rn']
#name 테이블이름 if_exists='replace' 테이블 삭제 후 export
df.to_sql(name='temperature',con=engine,if_exists='replace',index=False)